In [1]:
import os

import numpy as np
import pandas as pd

In [2]:
meta_path = os.path.abspath("item_metadata.csv")
meta = pd.read_csv(meta_path)

In [112]:
pro = pd.DataFrame(meta.properties)
item = pd.DataFrame(meta.item_id)

In [34]:
split = pro.properties.str.split('|')

In [35]:
split_ = split.apply(lambda x : pd.Series(x))

In [36]:
split_sin = split_.stack().reset_index(level=1,drop=True).to_frame('property_single')

In [37]:
property_single = split_sin['property_single'].unique()

In [101]:
pro_one_hot_encoded = pd.get_dummies(split_sin.property_single)

In [134]:
for x in range(item.shape[0]):
    if x == 0:
        p = pro_one_hot_encoded.loc[x].sum(axis = 0).to_frame().T
        pro_one_hot_encoded_sum = p
    else:
        p = pro_one_hot_encoded.loc[x].sum(axis = 0).to_frame().T
        pd.concat([pro_one_hot_encoded_sum, p], axis = 0)

# p = pro_one_hot_encoded.loc[0].sum(axis = 0).to_frame().T

AttributeError: 'numpy.int64' object has no attribute 'to_frame'

In [129]:
p

,1 Star,2 Star,3 Star,4 Star,5 Star,Accessible Hotel,Accessible Parking,Adults Only,Air Conditioning,Airport Hotel,...,Terrace (Hotel),Theme Hotel,Towels,Very Good Rating,Volleyball,Washing Machine,Water Slide,Wheelchair Accessible,WiFi (Public Areas),WiFi (Rooms)
0,0,0,0,1,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,1,1

In [131]:
item.shape[0]

927142