In [1]:
import os

import numpy as np
import pandas as pd

In [2]:
meta_path = os.path.abspath("item_metadata.csv")
meta = pd.read_csv(meta_path)

In [3]:
pro = pd.DataFrame(meta.properties)
item = pd.DataFrame(meta.item_id)

In [4]:
split = pro.properties.str.split('|')

In [5]:
split_ = split.apply(lambda x : pd.Series(x))

In [6]:
split_sin = split_.stack().reset_index(level=1,drop=True).to_frame('property_single')

In [7]:
property_single = split_sin['property_single'].unique()

In [8]:
pro_one_hot_encoded = pd.get_dummies(split_sin.property_single)

In [11]:
pro_one_hot_encoded_sum = []
for x in range(item.shape[0]):
    if x == 0:
        p = pro_one_hot_encoded.loc[x].sum(axis = 0).to_frame().T
        pro_one_hot_encoded_sum = p
    elif pro_one_hot_encoded.loc[x].size == 157:
        p = pro_one_hot_encoded.loc[x].to_frame().T
        pd.concat([pro_one_hot_encoded_sum,p])
    else:
        p = pro_one_hot_encoded.loc[x].sum(axis = 0).to_frame().T
        pd.concat([pro_one_hot_encoded_sum, p])

# p = pro_one_hot_encoded.loc[0].sum(axis = 0).to_frame().T

In [12]:
pro_one_hot_encoded_sum

,1 Star,2 Star,3 Star,4 Star,5 Star,Accessible Hotel,Accessible Parking,Adults Only,Air Conditioning,Airport Hotel,...,Terrace (Hotel),Theme Hotel,Towels,Very Good Rating,Volleyball,Washing Machine,Water Slide,Wheelchair Accessible,WiFi (Public Areas),WiFi (Rooms)
0,0,0,0,1,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,1,1

In [154]:
p = pro_one_hot_encoded.loc[0].sum(axis = 0).to_frame().T
p

AttributeError: 'numpy.int64' object has no attribute 'to_frame'

In [131]:
item.shape[0]

927142

In [164]:
pro_one_hot_encoded.loc[927141].to_frame().T

,1 Star,2 Star,3 Star,4 Star,5 Star,Accessible Hotel,Accessible Parking,Adults Only,Air Conditioning,Airport Hotel,...,Terrace (Hotel),Theme Hotel,Towels,Very Good Rating,Volleyball,Washing Machine,Water Slide,Wheelchair Accessible,WiFi (Public Areas),WiFi (Rooms)
927141,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
split_sin_idx = split_.stack().to_frame('property_single')

In [178]:
pro_one_hot_encoded_sum

,1 Star,2 Star,3 Star,4 Star,5 Star,Accessible Hotel,Accessible Parking,Adults Only,Air Conditioning,Airport Hotel,...,Terrace (Hotel),Theme Hotel,Towels,Very Good Rating,Volleyball,Washing Machine,Water Slide,Wheelchair Accessible,WiFi (Public Areas),WiFi (Rooms)
0,0,0,0,1,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,1,1