In [1]:
import os
import pandas as pd
import numpy as np

In [4]:
imp_pri = pd.read_csv('impression_price.csv')

In [7]:
pos_ref = pd.read_csv('positive_reference.csv')
pos_ref

        Unnamed: 0  reference
0               15    1257342
1              115    2795374
2              177    1320460
3              180    3143258
4              181    2552514
5              184     110591
6              191     138930
7              196     129881
8              230       8561
9              236    2529658
10             237     921237
11             240    9167996
12             260     104499
13             264    4138580
14             293    6893402
15             296    3191226
16             466    3404929
17             468    9164598
18             490       8602
19             495    2793224
20             542    9112068
21             550    1236209
22             564     327111
23             593    9590036
24             599    3753160
25             604    5170834
26             607     107674
27             608    6337814
28             627     434856
29             628      42349
...            ...        ...
207140    15928820    5112182
207141    15928876   10151456
207142    15928881     124628
207143    15928884     451961
207144    15928982    3916108
207145    15929034    4118916
207146    15929036   10923096
207147    15929334    2333086
207148    15929443    5004014
207149    15929473    6458836
207150    15929705    9422578
207151    15929806    1947487
207152    15929919    1147284
207153    15930228    3999570
207154    15930241    1775955
207155    15930700    2432094
207156    15931576    8740008
207157    15931594     955427
207158    15931755    9023072
207159    15931838    1363806
207160    15932169    1370793
207161    15932204    4899198
207162    15932318    6824218
207163    15932362    3770124
207164    15932402    4076774
207165    15932569    1160332
207166    15932661    5443562
207167    15932722   10218812
207168    15932806    2627868
207169    15932811    1771251

[207170 rows x 2 columns]