In [31]:
import pandas as pd
import numpy as np

In [32]:
train = pd.read_csv('train.csv')

In [99]:
korea = train[train["city"] == "Seoul, South Korea"]
korea[34:45]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
77690,JVHZ924NJV35,d539f9b22ee1d,1541500074,1,search for poi,Hongdae,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN
77691,JVHZ924NJV35,d539f9b22ee1d,1541500127,2,interaction item image,3136052,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN
77692,JVHZ924NJV35,d539f9b22ee1d,1541500127,3,interaction item image,3136052,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN
77693,JVHZ924NJV35,d539f9b22ee1d,1541500173,4,clickout item,363121,KR,"Seoul, South Korea",mobile,NaN,363061|4841728|9386776|475131|2736998|6625240|...,236|84|140|89|265|76|76|59|77|84|66|74|83|84|5...
77694,JVHZ924NJV35,d539f9b22ee1d,1541500475,5,clickout item,1237970,KR,"Seoul, South Korea",mobile,NaN,3155080|2282448|155374|3480578|475296|797516|3...,56|147|208|41|65|74|51|55|52|112|41|106|104|55...
77695,JVHZ924NJV35,d539f9b22ee1d,1541500844,6,clickout item,2110436,KR,"Seoul, South Korea",mobile,NaN,363101|3171165|2110436|4518438|3501450|4849224...,149|88|47|71|91|72|65|58|47|70|47|90|55|44|62|...
77696,JVHZ924NJV35,d539f9b22ee1d,1541501125,7,change of sort order,interaction sort button,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN
77697,JVHZ924NJV35,d539f9b22ee1d,1541501129,8,change of sort order,rating and recommended,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN
77698,JVHZ924NJV35,d539f9b22ee1d,1541501129,9,filter selection,Focus on Rating,KR,"Seoul, South Korea",mobile,Focus on Rating,NaN,NaN
77699,JVHZ924NJV35,d539f9b22ee1d,1541501189,10,search for item,3521926,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN
77700,JVHZ924NJV35,d539f9b22ee1d,1541501223,11,interaction item image,3136052,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN

In [34]:
korea.shape

(33601, 12)

In [35]:
import os
korea_save_path = os.path.abspath('korea.csv')
korea.to_csv(path_or_buf = korea_save_path)

In [36]:
korea.reference.unique().shape

(1026,)

In [37]:
korea.loc[korea.reference.str.isnumeric()==False].to_csv(path_or_buf = os.path.abspath('korea_ref.csv'))
# popHotel.loc[popHotel.index.str.isnumeric()==True]

In [38]:
a = korea.loc[korea.reference.str.isnumeric()==False]
pd.DataFrame(a.reference.unique()).to_csv(path_or_buf = os.path.abspath('korea_ref_unique.csv'))

In [43]:
korea_ref_landmark = pd.read_csv('korea_ref_landmark.csv')
ref_landmark = korea[korea["reference"].isin(korea_ref_landmark.landmark)]

In [47]:
landmark_id = ref_landmark.user_id.unique()

In [54]:
ref_landmark_click = korea[korea['user_id'].isin(landmark_id)]
ref_landmark_click = ref_landmark_click[ref_landmark_click['action_type'] == "clickout item"]
landmark_imp = ref_landmark_click.impressions

In [55]:
landmark_imp_sp = landmark_imp.str.split('|')
landmark_imp_sp_ = landmark_imp_sp.apply(lambda x : pd.Series(x))

In [72]:
landmark_imp_sp_ = landmark_imp_sp_.astype(np.float)
landmark_imp_sp_ = np.asarray(landmark_imp_sp_).flatten()
landmark_imp_sp_ = np.reshape(landmark_imp_sp_, [landmark_imp_sp_.shape[0],1])

In [73]:
landmark_imp_sp_

array([[2802232.],
       [2733571.],
       [5477718.],
       ...,
       [5509334.],
       [2592244.],
       [3136052.]])

In [78]:
[landmark_imp_uniq, landmark_imp_c] = np.unique(landmark_imp_sp_, return_counts = True)

In [87]:
landmark_imp_uniq = np.reshape(landmark_imp_uniq, (landmark_imp_uniq.shape[0],1))
landmark_imp_c = np.reshape(landmark_imp_c, (landmark_imp_c.shape[0],1))
l_ = np.concatenate((landmark_imp_uniq, landmark_imp_c), axis = 1)
landmark_imp = pd.DataFrame(l_, columns = ["landmark_imp_uniq", "landmark_imp_c"])
landmark_imp = landmark_imp.sort_values(by = ["landmark_imp_c"], ascending = False)

In [89]:
landmark_imp = landmark_imp[~landmark_imp["landmark_imp_uniq"].isnull()]
landmark_imp

      landmark_imp_uniq  landmark_imp_c
6              155465.0           719.0
588           3549258.0           681.0
22             363046.0           668.0
1120          6625240.0           630.0
570           3501452.0           615.0
50             475131.0           586.0
359           2733571.0           553.0
865           4871108.0           544.0
3              155374.0           531.0
413           2855981.0           523.0
32             363101.0           479.0
1467         10091602.0           478.0
563           3499270.0           443.0
849           4773608.0           418.0
379           2785446.0           418.0
82             844336.0           417.0
66             475296.0           407.0
1155          6893402.0           402.0
186           1954441.0           401.0
139           1627467.0           381.0
25             363061.0           379.0
362           2738638.0           368.0
387           2802232.0           363.0
62             475256.0           356.0
43             388501.0           351.0
692           3954788.0           345.0
833           4638538.0           330.0
1147          6800422.0           328.0
1410          9491548.0           326.0
17             157080.0           318.0
...                 ...             ...
992           5747350.0             1.0
784           4421382.0             1.0
989           5723040.0             1.0
786           4424106.0             1.0
797           4455080.0             1.0
800           4463372.0             1.0
801           4475398.0             1.0
806           4488846.0             1.0
810           4501116.0             1.0
840           4725124.0             1.0
861           4850178.0             1.0
869           4884438.0             1.0
872           4890764.0             1.0
897           5061430.0             1.0
903           5095396.0             1.0
904           5096488.0             1.0
917           5124656.0             1.0
931           5167160.0             1.0
938           5184544.0             1.0
945           5415258.0             1.0
946           5431414.0             1.0
950           5464302.0             1.0
957           5492852.0             1.0
962           5521196.0             1.0
964           5524332.0             1.0
968           5609338.0             1.0
970           5614714.0             1.0
971           5637642.0             1.0
980           5702782.0             1.0
982           5708946.0             1.0

[1522 rows x 2 columns]

In [90]:
landmark_imp_list = pd.DataFrame(landmark_imp.landmark_imp_uniq)

In [100]:
landmark_imp_list

      landmark_imp_uniq
6              155465.0
588           3549258.0
22             363046.0
1120          6625240.0
570           3501452.0
50             475131.0
359           2733571.0
865           4871108.0
3              155374.0
413           2855981.0
32             363101.0
1467         10091602.0
563           3499270.0
849           4773608.0
379           2785446.0
82             844336.0
66             475296.0
1155          6893402.0
186           1954441.0
139           1627467.0
25             363061.0
362           2738638.0
387           2802232.0
62             475256.0
43             388501.0
692           3954788.0
833           4638538.0
1147          6800422.0
1410          9491548.0
17             157080.0
...                 ...
992           5747350.0
784           4421382.0
989           5723040.0
786           4424106.0
797           4455080.0
800           4463372.0
801           4475398.0
806           4488846.0
810           4501116.0
840           4725124.0
861           4850178.0
869           4884438.0
872           4890764.0
897           5061430.0
903           5095396.0
904           5096488.0
917           5124656.0
931           5167160.0
938           5184544.0
945           5415258.0
946           5431414.0
950           5464302.0
957           5492852.0
962           5521196.0
964           5524332.0
968           5609338.0
970           5614714.0
971           5637642.0
980           5702782.0
982           5708946.0

[1522 rows x 1 columns]

In [93]:
meta = pd.read_csv("item_metadata.csv")
item = pd.DataFrame(meta.item_id)
imp_exist = landmark_imp_list[landmark_imp_list["landmark_imp_uniq"].isin(item.item_id)]

In [94]:
pro_imp = meta[meta["item_id"].isin(imp_exist.landmark_imp_uniq)]

In [95]:
pro_imp_split = pro_imp.properties.str.split('|')
pro_imp_split_ = pro_imp_split.apply(lambda x : pd.Series(x))
pro_imp_split_.head()

,0,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
447,Satellite TV,Cosmetic Mirror,Safe (Hotel),Telephone,Hotel,Convenience Store,Reception (24/7),Air Conditioning,Cable TV,Massage,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1331,Airport Shuttle,Reception (24/7),Cable TV,Satisfactory Rating,Television,Shower,Hairdryer,Good Rating,Bed & Breakfast,Desk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1545,Telephone,Hotel,Reception (24/7),Air Conditioning,Cable TV,Hotel Bar,Satisfactory Rating,Luxury Hotel,Terrace (Hotel),Television,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1794,Satellite TV,Cosmetic Mirror,Safe (Hotel),Telephone,Air Conditioning,Cable TV,Hotel Bar,Club Hotel,Satisfactory Rating,Very Good Rating,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954,Safe (Hotel),Hotel,Reception (24/7),Air Conditioning,2 Star,Satisfactory Rating,Luxury Hotel,Television,Business Hotel,Shower,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
pro_imp_split_sin = pro_imp_split_.stack().reset_index(level=1,drop=True).to_frame('property_single')
property_single = pro_imp_split_sin['property_single'].unique()
property_encoded = pd.get_dummies(pro_imp_split_sin.property_single)
property_sum = property_encoded.sum(axis = 0)
property_sum = property_sum.sort_values(ascending = False).to_frame().T

In [97]:
property_sum

,Satisfactory Rating,WiFi (Public Areas),Good Rating,Shower,Air Conditioning,Hotel,WiFi (Rooms),Free WiFi (Combined),Free WiFi (Rooms),Hairdryer,...,Beach Bar,Country Hotel,Senior Travellers,Hot Stone Massage,Boat Rental,Skiing,Motel,Horse Riding,Shooting Sports,Kosher Food
0,1030,897,885,845,832,818,812,812,720,708,...,3,3,3,3,2,2,1,1,1,1