In [1]:
import pandas as pd
import numpy as np

In [3]:
md = pd.read_csv("train.csv")

In [6]:
ac = pd.DataFrame(md.action_type)
poi = md[ac['action_type'] == "search for poi"]
des = md[ac['action_type'] == "search for destination"]
d = pd.concat([poi, des])

In [8]:
city = d["city"]

In [16]:
city_sp = city.str.split(',')

In [17]:
city_sp_ = city_sp.apply(lambda x : pd.Series(x))

In [18]:
city_sp_

                         0                      1    2
0                   Sydney              Australia  NaN
14                  Sydney              Australia  NaN
117                 London         United Kingdom  NaN
118                 London         United Kingdom  NaN
278                  Seoul            South Korea  NaN
281                  Seoul            South Korea  NaN
283                  Seoul            South Korea  NaN
284                  Seoul            South Korea  NaN
329              Hong Kong              Hong Kong  NaN
592                Toronto                 Canada  NaN
595             Charleston                    USA  NaN
811        Marne-la-Vallée                 France  NaN
861          St Petersburg                 Russia  NaN
872                Fukuoka                  Japan  NaN
882                 Sydney              Australia  NaN
901                  Milan                  Italy  NaN
908                  Milan                  Italy  NaN
909                 Assago                  Italy  NaN
1064             São Paulo                 Brazil  NaN
1155                 Tokyo                  Japan  NaN
1157                 Tokyo                  Japan  NaN
1177                Durban           South Africa  NaN
1617         São Sebastião                 Brazil  NaN
1622        Rio de Janeiro                 Brazil  NaN
1686            Copenhagen                Denmark  NaN
1875                 Tokyo                  Japan  NaN
1876                 Tokyo                  Japan  NaN
1916              Yokohama                  Japan  NaN
1918              Yokohama                  Japan  NaN
1965         Florianópolis                 Brazil  NaN
...                    ...                    ...  ...
15932286            Buesum                Germany  NaN
15932289         Funabashi                  Japan  NaN
15932323     Visakhapatnam                  India  NaN
15932365  Playa del Carmen                 Mexico  NaN
15932425            Játiva                  Spain  NaN
15932458        Santa Cruz                  Chile  NaN
15932460          Santiago                  Chile  NaN
15932503             Dubai   United Arab Emirates  NaN
15932564             Dubai   United Arab Emirates  NaN
15932609        Formentera                  Spain  NaN
15932662           Pinamar              Argentina  NaN
15932663           Pinamar              Argentina  NaN
15932691     San Sebastián                  Spain  NaN
15932702             Jávea                  Spain  NaN
15932708          Mazatlán                 Mexico  NaN
15932709          Mazatlán                 Mexico  NaN
15932719     Murray Bridge              Australia  NaN
15932738          Adelaide              Australia  NaN
15932743          Adelaide              Australia  NaN
15932765          New York                    USA  NaN
15932804        Port Blair                  India  NaN
15932814         Amsterdam            Netherlands  NaN
15932824             Dubai   United Arab Emirates  NaN
15932872           Almeria                  Spain  NaN
15932924     San Francisco                    USA  NaN
15932925         San Diego                    USA  NaN
15932939          Bordeaux                 France  NaN
15932967          New York                    USA  NaN
15932971             Natal                 Brazil  NaN
15932973             Paris                 France  NaN

[540510 rows x 3 columns]