In [1]:
import pandas as pd
import numpy as np

In [3]:
md = pd.read_csv("train.csv")

In [6]:
ac = pd.DataFrame(md.action_type)
poi = md[ac['action_type'] == "search for poi"]
des = md[ac['action_type'] == "search for destination"]
d = pd.concat([poi, des])

In [8]:
city = d["city"]

In [16]:
city_sp = city.str.split(',')

In [17]:
city_sp_ = city_sp.apply(lambda x : pd.Series(x))

In [25]:
city_sp_.columns = ['city', 'country', 'nan']

In [28]:
city_ = city_sp_.drop(["nan"], axis = 1)

In [30]:
ref = d["reference"]

In [31]:
ref_sp = ref.str.split(',')

In [32]:
ref_sp_ = ref_sp.apply(lambda x : pd.Series(x))

In [36]:
ref_sp_.columns = ['landmark', 'country', 'nan']

In [46]:
ref_ = ref_sp_.drop(["nan"], axis = 1)

In [47]:
ref_country = ref_[~ref_["country"].isnull()]

In [48]:
ref_country

                   landmark                                            country
4855926       Macka Culture                           Tourism and Art Festival
6639403             Antique   Collectors 20th Century Art Deco Fair at Alex...
7177098   37th Annual Hotel   Motel and Restaurant Supply Show of the South...
8464738   37th Annual Hotel   Motel and Restaurant Supply Show of the South...
8528845   37th Annual Hotel   Motel and Restaurant Supply Show of the South...
9842111             Antique   Collectors 20th Century Art Deco Fair at Alex...
9842112             Antique   Collectors 20th Century Art Deco Fair at Alex...
14698423            Hot Tub                                Pool & Leisure Expo
14836223            Hot Tub                                Pool & Leisure Expo
116                  London                                     United Kingdom
123             Bakersfield                                                USA
124             Bakersfield                                                USA
231             Panama City                                             Panama
238                  Centre                                                USA
256               São Paulo                                             Brazil
257               São Paulo                                             Brazil
493                   Tioga                                                USA
559                  Púchov                                           Slovakia
560                  Púchov                                           Slovakia
563                   Pucón                                              Chile
565                Valdivia                                              Chile
570                 Toronto                                             Canada
594              Charleston                                                USA
600         Mühldorf am Inn                                            Germany
601         Mühldorf am Inn                                            Germany
630         Charlottesville                                                USA
859           St Petersburg                                             Russia
863           St Petersburg                                             Russia
878       Derry-Londonderry                                     United Kingdom
879       Derry-Londonderry                                     United Kingdom
...                     ...                                                ...
15932286             Buesum                                            Germany
15932289          Funabashi                                              Japan
15932323      Visakhapatnam                                              India
15932365   Playa del Carmen                                             Mexico
15932425             Játiva                                              Spain
15932458         Santa Cruz                                              Chile
15932460           Santiago                                              Chile
15932503              Dubai                               United Arab Emirates
15932564              Dubai                               United Arab Emirates
15932609         Formentera                                              Spain
15932662            Pinamar                                          Argentina
15932663            Pinamar                                          Argentina
15932691      San Sebastián                                              Spain
15932702              Jávea                                              Spain
15932708           Mazatlán                                             Mexico
15932709           Mazatlán                                             Mexico
15932719      Murray Bridge                                          Australia
15932738           Adelaide                                          Australia
15932743           Adelaide                                          Australia
15932765           New York                                                USA
15932804         Port Blair                                              India
15932814          Amsterdam                                        Netherlands
15932824              Dubai                               United Arab Emirates
15932872            Almeria                                              Spain
15932924      San Francisco                                                USA
15932925          San Diego                                                USA
15932939           Bordeaux                                             France
15932967           New York                                                USA
15932971              Natal                                             Brazil
15932973              Paris                                             France

[403075 rows x 2 columns]