In [1]:
import pandas as pd
import numpy as np

In [3]:
md = pd.read_csv("train.csv")

In [6]:
ac = pd.DataFrame(md.action_type)
poi = md[ac['action_type'] == "search for poi"]
des = md[ac['action_type'] == "search for destination"]
d = pd.concat([poi, des])

In [8]:
city = d["city"]

In [16]:
city_sp = city.str.split(',')

In [17]:
city_sp_ = city_sp.apply(lambda x : pd.Series(x))

In [25]:
city_sp_.columns = ['city', 'country', 'nan']

In [28]:
city_ = city_sp_.drop(["nan"], axis = 1)

In [50]:
city_

                      city                country
0                   Sydney              Australia
14                  Sydney              Australia
117                 London         United Kingdom
118                 London         United Kingdom
278                  Seoul            South Korea
281                  Seoul            South Korea
283                  Seoul            South Korea
284                  Seoul            South Korea
329              Hong Kong              Hong Kong
592                Toronto                 Canada
595             Charleston                    USA
811        Marne-la-Vallée                 France
861          St Petersburg                 Russia
872                Fukuoka                  Japan
882                 Sydney              Australia
901                  Milan                  Italy
908                  Milan                  Italy
909                 Assago                  Italy
1064             São Paulo                 Brazil
1155                 Tokyo                  Japan
1157                 Tokyo                  Japan
1177                Durban           South Africa
1617         São Sebastião                 Brazil
1622        Rio de Janeiro                 Brazil
1686            Copenhagen                Denmark
1875                 Tokyo                  Japan
1876                 Tokyo                  Japan
1916              Yokohama                  Japan
1918              Yokohama                  Japan
1965         Florianópolis                 Brazil
...                    ...                    ...
15932286            Buesum                Germany
15932289         Funabashi                  Japan
15932323     Visakhapatnam                  India
15932365  Playa del Carmen                 Mexico
15932425            Játiva                  Spain
15932458        Santa Cruz                  Chile
15932460          Santiago                  Chile
15932503             Dubai   United Arab Emirates
15932564             Dubai   United Arab Emirates
15932609        Formentera                  Spain
15932662           Pinamar              Argentina
15932663           Pinamar              Argentina
15932691     San Sebastián                  Spain
15932702             Jávea                  Spain
15932708          Mazatlán                 Mexico
15932709          Mazatlán                 Mexico
15932719     Murray Bridge              Australia
15932738          Adelaide              Australia
15932743          Adelaide              Australia
15932765          New York                    USA
15932804        Port Blair                  India
15932814         Amsterdam            Netherlands
15932824             Dubai   United Arab Emirates
15932872           Almeria                  Spain
15932924     San Francisco                    USA
15932925         San Diego                    USA
15932939          Bordeaux                 France
15932967          New York                    USA
15932971             Natal                 Brazil
15932973             Paris                 France

[540510 rows x 2 columns]

In [58]:
city_country = city_["country"]

In [59]:
city_country

0                       Australia
14                      Australia
117                United Kingdom
118                United Kingdom
278                   South Korea
281                   South Korea
283                   South Korea
284                   South Korea
329                     Hong Kong
592                        Canada
595                           USA
811                        France
861                        Russia
872                         Japan
882                     Australia
901                         Italy
908                         Italy
909                         Italy
1064                       Brazil
1155                        Japan
1157                        Japan
1177                 South Africa
1617                       Brazil
1622                       Brazil
1686                      Denmark
1875                        Japan
1876                        Japan
1916                        Japan
1918                        Japan
1965                       Brazil
                    ...
15932286                  Germany
15932289                    Japan
15932323                    India
15932365                   Mexico
15932425                    Spain
15932458                    Chile
15932460                    Chile
15932503     United Arab Emirates
15932564     United Arab Emirates
15932609                    Spain
15932662                Argentina
15932663                Argentina
15932691                    Spain
15932702                    Spain
15932708                   Mexico
15932709                   Mexico
15932719                Australia
15932738                Australia
15932743                Australia
15932765                      USA
15932804                    India
15932814              Netherlands
15932824     United Arab Emirates
15932872                    Spain
15932924                      USA
15932925                      USA
15932939                   France
15932967                      USA
15932971                   Brazil
15932973                   France
Name: country, Length: 540510, dtype: object

In [30]:
ref = d["reference"]

In [31]:
ref_sp = ref.str.split(',')

In [32]:
ref_sp_ = ref_sp.apply(lambda x : pd.Series(x))

In [36]:
ref_sp_.columns = ['landmark', 'country', 'nan']

In [46]:
ref_ = ref_sp_.drop(["nan"], axis = 1)

In [60]:
ref_region = ref_[~ref_["country"].isnull()]

In [61]:
ref_country = ref_region["country"]

In [85]:
region = pd.concat([city_country, ref_region],axis = 1)
region.columns = ["city_country", "ref_landmark","ref_country"]

In [86]:
region

                   city_country     ref_landmark            ref_country
0                     Australia              NaN                    NaN
14                    Australia              NaN                    NaN
116              United Kingdom           London         United Kingdom
117              United Kingdom              NaN                    NaN
118              United Kingdom              NaN                    NaN
123                         USA      Bakersfield                    USA
124                         USA      Bakersfield                    USA
231                      Panama      Panama City                 Panama
238                         USA           Centre                    USA
256                      Brazil        São Paulo                 Brazil
257                      Brazil        São Paulo                 Brazil
278                 South Korea              NaN                    NaN
281                 South Korea              NaN                    NaN
283                 South Korea              NaN                    NaN
284                 South Korea              NaN                    NaN
329                   Hong Kong              NaN                    NaN
493                         USA            Tioga                    USA
559                    Slovakia           Púchov               Slovakia
560                    Slovakia           Púchov               Slovakia
563                       Chile            Pucón                  Chile
565                       Chile         Valdivia                  Chile
570                      Canada          Toronto                 Canada
592                      Canada              NaN                    NaN
594                         USA       Charleston                    USA
595                         USA              NaN                    NaN
600                     Germany  Mühldorf am Inn                Germany
601                     Germany  Mühldorf am Inn                Germany
630                         USA  Charlottesville                    USA
811                      France              NaN                    NaN
859                      Russia    St Petersburg                 Russia
...                         ...              ...                    ...
15932460                  Chile         Santiago                  Chile
15932503   United Arab Emirates            Dubai   United Arab Emirates
15932564   United Arab Emirates            Dubai   United Arab Emirates
15932609                  Spain       Formentera                  Spain
15932662              Argentina          Pinamar              Argentina
15932663              Argentina          Pinamar              Argentina
15932683                  Italy              NaN                    NaN
15932691                  Spain    San Sebastián                  Spain
15932702                  Spain            Jávea                  Spain
15932708                 Mexico         Mazatlán                 Mexico
15932709                 Mexico         Mazatlán                 Mexico
15932719              Australia    Murray Bridge              Australia
15932725              Australia              NaN                    NaN
15932738              Australia         Adelaide              Australia
15932743              Australia         Adelaide              Australia
15932765                    USA         New York                    USA
15932766                    USA              NaN                    NaN
15932804                  India       Port Blair                  India
15932812                Germany              NaN                    NaN
15932814            Netherlands        Amsterdam            Netherlands
15932819            Netherlands              NaN                    NaN
15932824   United Arab Emirates            Dubai   United Arab Emirates
15932872                  Spain          Almeria                  Spain
15932924                    USA    San Francisco                    USA
15932925                    USA        San Diego                    USA
15932939                 France         Bordeaux                 France
15932940                 France              NaN                    NaN
15932967                    USA         New York                    USA
15932971                 Brazil            Natal                 Brazil
15932973                 France            Paris                 France

[540510 rows x 3 columns]

In [87]:
region = region[~region["ref_country"].isnull()]

In [88]:
region

                   city_country       ref_landmark            ref_country
116              United Kingdom             London         United Kingdom
123                         USA        Bakersfield                    USA
124                         USA        Bakersfield                    USA
231                      Panama        Panama City                 Panama
238                         USA             Centre                    USA
256                      Brazil          São Paulo                 Brazil
257                      Brazil          São Paulo                 Brazil
493                         USA              Tioga                    USA
559                    Slovakia             Púchov               Slovakia
560                    Slovakia             Púchov               Slovakia
563                       Chile              Pucón                  Chile
565                       Chile           Valdivia                  Chile
570                      Canada            Toronto                 Canada
594                         USA         Charleston                    USA
600                     Germany    Mühldorf am Inn                Germany
601                     Germany    Mühldorf am Inn                Germany
630                         USA    Charlottesville                    USA
859                      Russia      St Petersburg                 Russia
863                      Russia      St Petersburg                 Russia
878              United Kingdom  Derry-Londonderry         United Kingdom
879              United Kingdom  Derry-Londonderry         United Kingdom
926                     Germany            Hamburg                Germany
993                      Canada            Toronto                 Canada
1012                        USA          Green Bay                    USA
1073                      India           Lonavala                  India
1085                  Lithuania            Vilnius              Lithuania
1176               South Africa           Pretoria           South Africa
1193                      India         Ahmednagar                  India
1618                     Brazil            Ubatuba                 Brazil
1619                     Brazil           Ilhabela                 Brazil
...                         ...                ...                    ...
15932286                Germany             Buesum                Germany
15932289                  Japan          Funabashi                  Japan
15932323                  India      Visakhapatnam                  India
15932365                 Mexico   Playa del Carmen                 Mexico
15932425                  Spain             Játiva                  Spain
15932458                  Chile         Santa Cruz                  Chile
15932460                  Chile           Santiago                  Chile
15932503   United Arab Emirates              Dubai   United Arab Emirates
15932564   United Arab Emirates              Dubai   United Arab Emirates
15932609                  Spain         Formentera                  Spain
15932662              Argentina            Pinamar              Argentina
15932663              Argentina            Pinamar              Argentina
15932691                  Spain      San Sebastián                  Spain
15932702                  Spain              Jávea                  Spain
15932708                 Mexico           Mazatlán                 Mexico
15932709                 Mexico           Mazatlán                 Mexico
15932719              Australia      Murray Bridge              Australia
15932738              Australia           Adelaide              Australia
15932743              Australia           Adelaide              Australia
15932765                    USA           New York                    USA
15932804                  India         Port Blair                  India
15932814            Netherlands          Amsterdam            Netherlands
15932824   United Arab Emirates              Dubai   United Arab Emirates
15932872                  Spain            Almeria                  Spain
15932924                    USA      San Francisco                    USA
15932925                    USA          San Diego                    USA
15932939                 France           Bordeaux                 France
15932967                    USA           New York                    USA
15932971                 Brazil              Natal                 Brazil
15932973                 France              Paris                 France

[403075 rows x 3 columns]

In [89]:
region_eq = region[region["city_country"] == region["ref_country"]]

In [90]:
region_eq

                   city_country       ref_landmark            ref_country
116              United Kingdom             London         United Kingdom
123                         USA        Bakersfield                    USA
124                         USA        Bakersfield                    USA
231                      Panama        Panama City                 Panama
238                         USA             Centre                    USA
256                      Brazil          São Paulo                 Brazil
257                      Brazil          São Paulo                 Brazil
493                         USA              Tioga                    USA
559                    Slovakia             Púchov               Slovakia
560                    Slovakia             Púchov               Slovakia
563                       Chile              Pucón                  Chile
565                       Chile           Valdivia                  Chile
570                      Canada            Toronto                 Canada
594                         USA         Charleston                    USA
600                     Germany    Mühldorf am Inn                Germany
601                     Germany    Mühldorf am Inn                Germany
630                         USA    Charlottesville                    USA
859                      Russia      St Petersburg                 Russia
863                      Russia      St Petersburg                 Russia
878              United Kingdom  Derry-Londonderry         United Kingdom
879              United Kingdom  Derry-Londonderry         United Kingdom
926                     Germany            Hamburg                Germany
993                      Canada            Toronto                 Canada
1012                        USA          Green Bay                    USA
1073                      India           Lonavala                  India
1085                  Lithuania            Vilnius              Lithuania
1176               South Africa           Pretoria           South Africa
1193                      India         Ahmednagar                  India
1618                     Brazil            Ubatuba                 Brazil
1619                     Brazil           Ilhabela                 Brazil
...                         ...                ...                    ...
15932286                Germany             Buesum                Germany
15932289                  Japan          Funabashi                  Japan
15932323                  India      Visakhapatnam                  India
15932365                 Mexico   Playa del Carmen                 Mexico
15932425                  Spain             Játiva                  Spain
15932458                  Chile         Santa Cruz                  Chile
15932460                  Chile           Santiago                  Chile
15932503   United Arab Emirates              Dubai   United Arab Emirates
15932564   United Arab Emirates              Dubai   United Arab Emirates
15932609                  Spain         Formentera                  Spain
15932662              Argentina            Pinamar              Argentina
15932663              Argentina            Pinamar              Argentina
15932691                  Spain      San Sebastián                  Spain
15932702                  Spain              Jávea                  Spain
15932708                 Mexico           Mazatlán                 Mexico
15932709                 Mexico           Mazatlán                 Mexico
15932719              Australia      Murray Bridge              Australia
15932738              Australia           Adelaide              Australia
15932743              Australia           Adelaide              Australia
15932765                    USA           New York                    USA
15932804                  India         Port Blair                  India
15932814            Netherlands          Amsterdam            Netherlands
15932824   United Arab Emirates              Dubai   United Arab Emirates
15932872                  Spain            Almeria                  Spain
15932924                    USA      San Francisco                    USA
15932925                    USA          San Diego                    USA
15932939                 France           Bordeaux                 France
15932967                    USA           New York                    USA
15932971                 Brazil              Natal                 Brazil
15932973                 France              Paris                 France

[403066 rows x 3 columns]