In [2]:
import pandas as pd
import numpy as np

In [286]:
md = pd.read_csv("train.csv")
print(md.shape)
md.head()

(15932992, 12)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [287]:
ac = pd.DataFrame(md.action_type)

poi = md[ac['action_type'] == "search for poi"]
des = md[ac['action_type'] == "search for destination"]
click = md[ac['action_type'] == "clickout item"]

d = pd.concat([poi, des])

In [257]:
d = d.sort_values(by=["user_id"])
d.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
27774,0004IOZI7CKF,0146f7cb014ba,1541266717,1,search for destination,"Valencia, Spain",DE,"Valencia, Spain",tablet,NaN,NaN,NaN
7333076,0004WCFRV3FB,b47e1ccca2b97,1541421780,1,search for destination,"Riezlern, Austria",DE,"Riezlern, Austria",mobile,NaN,NaN,NaN
1773866,0008BO33KUQ0,298103812b153,1541373167,1,search for destination,"Gramado, Brazil",BR,"Gramado, Brazil",mobile,NaN,NaN,NaN
13208140,0008BO33KUQ0,d4c5cc7f469d7,1541298185,11,search for poi,Beach Park,BR,"Aquiraz, Brazil",mobile,NaN,NaN,NaN
13933219,0008BO33KUQ0,eaae649fbd8c9,1541338152,7,search for poi,Beach Park,BR,"Aquiraz, Brazil",mobile,NaN,NaN,NaN

In [259]:
d.shape

(540510, 12)

In [141]:
click.shape

(1586586, 12)

In [258]:
ho = d[d["city"] == d["reference"]]
ho.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
27774,0004IOZI7CKF,0146f7cb014ba,1541266717,1,search for destination,"Valencia, Spain",DE,"Valencia, Spain",tablet,NaN,NaN,NaN
7333076,0004WCFRV3FB,b47e1ccca2b97,1541421780,1,search for destination,"Riezlern, Austria",DE,"Riezlern, Austria",mobile,NaN,NaN,NaN
1773866,0008BO33KUQ0,298103812b153,1541373167,1,search for destination,"Gramado, Brazil",BR,"Gramado, Brazil",mobile,NaN,NaN,NaN
13933218,0008BO33KUQ0,eaae649fbd8c9,1541337741,6,search for destination,"Gramado, Brazil",BR,"Gramado, Brazil",mobile,NaN,NaN,NaN
13933217,0008BO33KUQ0,eaae649fbd8c9,1541337545,5,search for destination,"Gramado, Brazil",BR,"Gramado, Brazil",mobile,NaN,NaN,NaN

In [260]:
ho.shape

(403066, 12)

In [112]:
ho_id = ho["user_id"]
ho_id = ho_id.unique()
ho_id.shape

(229473,)

In [103]:
import os

In [298]:
poi = poi[poi["city"] == poi["reference"]]
des = des[des["city"] == des["reference"]]
data = pd.concat([poi, des, click])
data.shape
# data = data[data["city"] == data["reference"]]
# pdc = pd.DataFrame(data.user_id.unique()).to_csv(os.path.abspath('pdc.csv'))

(1989652, 12)

In [262]:
cd = data[data["action_type"] == "clickout item"]

In [299]:
# data = data.sort_values(by=["user_id"])
drop_data = data.drop_duplicates(subset = "user_id", keep='last')

In [305]:
drop_data.shape

(724787, 12)

In [282]:
data[6:12]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
283,0L2TX0JNYVQ6,06e7c29170946,1541044255,6,search for poi,Myeongdong,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
284,0L2TX0JNYVQ6,06e7c29170946,1541044256,7,search for poi,Dongdaemun Market,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
329,0MQZRPGN1GOS,f7288a790f472,1541046190,1,search for poi,Ocean Park,HK,"Hong Kong, Hong Kong",desktop,NaN,NaN,NaN
592,0SO132S6MH3O,7ddbbad580025,1541030732,23,search for poi,Union Station,US,"Toronto, Canada",desktop,5 Star|Hotel|Resort|4 Star|3 Star|Focus on Dis...,NaN,NaN
595,0SVH5QYX372P,9eb4da70d5ccd,1541094018,2,search for poi,Historic Charleston City Market,US,"Charleston, USA",desktop,NaN,NaN,NaN
811,12JXY7YLPVZD,c948ef282ca37,1541091759,1,search for poi,Disneyland Paris,UK,"Marne-la-Vallée, France",tablet,NaN,NaN,NaN

In [302]:
drop_data.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
6527,G5TUV4LMBPHJ,52d4042cb6ae2,1541069187,1,search for destination,"Nahariya, Israel",IL,"Nahariya, Israel",desktop,NaN,NaN,NaN
7092,HOPD37D2L07A,a0b386a693830,1541038914,4,search for destination,"San Cristobal, Venezuela",US,"San Cristobal, Venezuela",mobile,NaN,NaN,NaN
7153,HW9GN59FP48P,74786128e4c43,1541106486,1,search for destination,"Lancaster, United Kingdom",UK,"Lancaster, United Kingdom",mobile,5 Star|Sort By Rating,NaN,NaN
10483,R8YFEKH53TEL,8eea2b54b71bf,1541050286,1,search for destination,"Sharm el-Sheikh, Egypt",AA,"Sharm el-Sheikh, Egypt",desktop,NaN,NaN,NaN
11474,V8NWU4J9M02B,751191292fa42,1541094244,3,search for destination,"Sharm el-Sheikh, Egypt",AA,"Sharm el-Sheikh, Egypt",mobile,NaN,NaN,NaN

In [303]:
click_poi_des = drop_data[drop_data["action_type"] == "clickout item"]

In [304]:
click_poi_des.shape

(717774, 12)

In [297]:
click_poi_des.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
15,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031...,162|25|150|143|101|49|118|131|18|100|101|143|5...
115,02SRUT1NQYH1,3599a6f709eab,1541063864,35,clickout item,2795374,FI,"Krakow, Poland",mobile,NaN,2795374|5582964|1088390|2781070|1258068|127196...,64|54|36|121|76|81|92|40|73|52|98|104|56|414|6...
177,03P4VFKK12UO,325fafb5fa450,1541107538,55,clickout item,1320460,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,1306936|56482|2842358|6881276|65685|63259|6539...,178|104|110|94|57|96|46|61|48|35|50|38|59|44|5...
180,0473FZ8UNXRS,bcc452f3350eb,1541062532,3,clickout item,3143258,AU,"Legian, Indonesia",desktop,NaN,1258184|3866722|8929970|2315702|116619|1511641...,51|43|69|49|62|50|55|42|87|46|43|114|194|50|19...
181,066TUPQWUEV5,7157899be2839,1541102679,1,clickout item,2552514,MX,"Mazamitla, Mexico",mobile,NaN,2349076|2552514|7159866|3898458|1846017|725025...,54|39|55|51|41|94|24|38|59|24|72|314|46|40|183...

In [154]:
imp = click_poi_des.impressions
imp_sp = imp.str.split('|')

In [437]:
imp_sp

15          [55109, 129343, 54824, 2297972, 109014, 125734...
115         [2795374, 5582964, 1088390, 2781070, 1258068, ...
177         [1306936, 56482, 2842358, 6881276, 65685, 6325...
180         [1258184, 3866722, 8929970, 2315702, 116619, 1...
181         [2349076, 2552514, 7159866, 3898458, 1846017, ...
184         [6721, 6724, 40109, 147227, 80983, 6719, 40718...
191         [22953, 22951, 22947, 22949, 8774118, 45527, 8...
196         [129881, 36161, 36249, 464421, 302607, 36401, ...
230         [8561, 8564, 8568, 8586, 8588, 102080, 8613, 5...
236         [2603858, 1765201, 1844107, 99445, 99438, 2219...
240                      [2035675, 4095738, 4933410, 9167996]
261         [104499, 104710, 104724, 164677, 960133, 58165...
264         [9172186, 6816668, 4497388, 1827505, 2066390, ...
296         [47767, 959737, 3191226, 1362528, 1950827, 150...
466         [1045290, 3135752, 1372961, 1369024, 3384308, ...
468         [9164598, 1400686, 2216204, 2817576, 4775794, ...
495         [8602, 8568, 8621, 8561, 57049, 8564, 8586, 85...
542         [5016850, 2068758, 1771981, 2303306, 2733700, ...
550         [1236209, 131152, 1322948, 7500, 439106, 7499,...
564         [327111, 2217612, 492491, 505751, 5101488, 206...
593         [6924590, 43910, 101019, 44160, 44872, 44350, ...
599         [57884, 72907, 1646291, 65531, 59312, 67945, 7...
606         [162011, 52319, 5170834, 9332768, 6398694, 183...
607         [1204316, 2140652, 107674, 1072440, 2555490, 2...
608         [6337814, 4491544, 554226, 1511925, 6821484, 9...
627         [1556793, 434856, 3206344, 49682, 1358429, 658...
628         [1956323, 34429, 100227, 34410, 5963164, 34464...
629         [567136, 1039152, 2034391, 1019811, 4233810, 6...
651         [71497, 76069, 3795892, 77840, 71716, 59678, 7...
810         [104912, 104724, 687781, 164677, 104813, 10474...
                                  ...
15932604    [811761, 4794432, 2893183, 2932846, 2261580, 7...
15932606    [107623, 13336, 6452, 6438, 6441, 6472, 124535...
15932661    [1265311, 4834976, 5443562, 38940, 4821722, 39...
15932682    [6476770, 2857762, 896455, 218926, 2812956, 51...
15932685    [2298560, 45471, 45152, 4906236, 925345, 93160...
15932688    [80170, 5952196, 1570171, 4050638, 1965785, 20...
15932689    [1490755, 1137717, 1488093, 9310, 15927, 67239...
15932690    [103600, 2150816, 103555, 2111996, 980293, 103...
15932693    [3875176, 40779, 7348344, 40719, 755331, 10948...
15932707    [95794, 109339, 3148916, 2924213, 1668389, 104...
15932718    [1108295, 6623552, 1236111, 34550, 34556, 3455...
15932764    [54878, 54884, 54939, 2174602, 4646574, 450601...
15932767    [8312, 2767604, 7345350, 4341420, 8317, 8320, ...
15932803    [693841, 2402030, 8153130, 6276246, 3755330, 3...
15932810    [3045966, 2627868, 1029890, 5464176, 1052052, ...
15932811    [2199498, 2258162, 1826617, 1771183, 1771251, ...
15932813    [1710093, 1819803, 894301, 155829, 429456, 253...
15932869    [8898, 5742368, 9226924, 897635, 3217130, 8906...
15932870    [2713516, 203851, 203861, 203951, 320736, 3207...
15932871    [8189402, 106828, 40582, 40393, 40724, 236576,...
15932880    [996355, 191826, 40377, 201066, 951795, 914561...
15932886    [3137008, 74152, 3741160, 77251, 3478738, 6356...
15932923    [42268, 42104, 16382, 42190, 33166, 3135533, 3...
15932926    [356281, 66787, 59205, 1390544, 73104, 4944066...
15932932    [72571, 59225, 62899, 15747, 8500, 8506, 15751...
15932944    [3133696, 50220, 207081, 50584, 48487, 82196, ...
15932965    [3811156, 2337580, 8787688, 9920906, 1553743, ...
15932966    [9771628, 5105492, 8682, 1372901, 1321682, 136...
15932970    [8640, 8816, 8791, 2298566, 1811137, 8708, 674...
15932991    [6617798, 1263420, 9567886, 1161323, 149768, 1...
Name: impressions, Length: 717774, dtype: object

In [310]:
imp_sp_ = imp_sp.apply(lambda x : pd.Series(x))
imp_sp_

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
15,55109,129343,54824,2297972,109014,1257342,1031578,109018,1332971,666916,...,9132132,1474297,3909420,6622154,55091,8444418,54804,2050977,666936,55088
115,2795374,5582964,1088390,2781070,1258068,1271962,3184892,148884,3528776,107183,...,8436316,9025316,125181,3861490,131257,4415954,107162,3143352,6652864,8118684
177,1306936,56482,2842358,6881276,65685,63259,65399,1320460,360566,376756,...,58909,360571,1298518,63542,71926,376076,57803,376181,1117192,359326
180,1258184,3866722,8929970,2315702,116619,1511641,111929,3223738,1288161,2870144,...,749441,955179,1670979,1890015,2073706,2081896,2162500,2625059,3143258,4926962
181,2349076,2552514,7159866,3898458,1846017,7250252,2828571,2685752,8775800,7721912,...,2754106,2756126,2759902,2881712,3245044,3245301,3245316,4704368,5117712,5942776
184,6721,6724,40109,147227,80983,6719,40718,1194054,624921,511646,...,2798980,160439,3916322,80862,110591,80907,970167,147226,40282,86878
191,22953,22951,22947,22949,8774118,45527,82900,22952,138929,2557176,...,898407,22954,82902,1240717,4970574,6471774,5433230,3219404,3768162,3186611
196,129881,36161,36249,464421,302607,36401,302622,926841,302477,461661,...,1867621,248817,1509639,2561050,291707,1557741,1997383,1557541,96347,1599007
230,8561,8564,8568,8586,8588,102080,8613,55677,57049,58492,...,129571,8602,8578,8544,8576,8599,8543,8567,8619,8582
236,2603858,1765201,1844107,99445,99438,2219728,99439,3135583,2396864,99446,...,8510198,3365566,1642853,2728330,2686097,2757598,489606,3176346,1258436,2277188
240,2035675,4095738,4933410,9167996,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,104499,104710,104724,164677,960133,5816566,8740576,104938,1891457,104671,...,479201,1501449,478216,104667,2627267,104599,522036,104770,104576,1689669
264,9172186,6816668,4497388,1827505,2066390,2729196,106415,3241854,478026,4138580,...,2078560,2849878,2717643,6299940,991495,3193788,2078488,479041,655676,2003215
296,47767,959737,3191226,1362528,1950827,1504481,2303554,1838303,1504415,2282346,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
466,1045290,3135752,1372961,1369024,3384308,1371070,1191128,320366,2589366,1373129,...,3183138,1370286,384511,5127144,2740100,939964,1327476,3961622,939114,1370246
468,9164598,1400686,2216204,2817576,4775794,5684276,5845180,5963262,7171090,7171192,...,7359812,8421086,9344376,7132982,7043076,4564186,9481878,5824184,6902620,2394112
495,8602,8568,8621,8561,57049,8564,8586,8577,8589,55677,...,2793224,8576,1238070,2282298,32727,8614,73555,567281,1094242,64376
542,5016850,2068758,1771981,2303306,2733700,3189448,5849680,1179630,1319947,1770143,...,3906960,4094062,5723646,3904508,5196406,2891934,6015920,2085246,5493194,104900
550,1236209,131152,1322948,7500,439106,7499,95072,95346,121982,131104,...,97538,112244,970571,971919,94038,7485,15785,573846,82163,2342000
564,327111,2217612,492491,505751,5101488,2061220,3190536,4063850,9328122,491631,...,4011522,3941420,323821,2303546,3372562,2145712,3934596,2349080,4009748,964803
593,6924590,43910,101019,44160,44872,44350,1835163,2287464,4458048,44874,...,1914579,1472137,43623,44837,3053490,44351,1288262,9590036,4415266,844501
599,57884,72907,1646291,65531,59312,67945,75618,5125126,74227,79218,...,2219016,71822,56425,976403,1333554,3522284,71222,7811938,58629,66354
606,162011,52319,5170834,9332768,6398694,1830581,5608302,157418,1073008,8156060,...,8295690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,1204316,2140652,107674,1072440,2555490,2181166,3998692,85487,105874,2432674,...,1559879,7291762,1145073,6226634,107859,1143641,2176154,2590956,1151369,105913
608,6337814,4491544,554226,1511925,6821484,9937158,1407582,2708038,2839168,5201368,...,1409157,4502912,4903632,3794318,6037360,7292912,4299546,1404640,2680462,2685454
627,1556793,434856,3206344,49682,1358429,658821,10191572,323311,1887509,1092524,...,4769324,1385657,141415,454366,2577656,8286110,1142289,499936,4655218,1649973
628,1956323,34429,100227,34410,5963164,34464,34423,152154,3066062,684821,...,32674,42349,2753406,100224,2595990,1863185,100211,100214,34449,348941
629,567136,1039152,2034391,1019811,4233810,6549318,6626518,1260317,1260320,9563344,...,9570292,1029932,354806,1333868,8409860,1402351,10448742,1283034,10784464,8169110
651,71497,76069,3795892,77840,71716,59678,76568,152206,72903,72902,...,73413,6228586,2866586,78481,3137146,9819416,65069,9976172,75614,10867616
810,104912,104724,687781,164677,104813,104743,104539,104574,104803,104588,...,104675,153725,104641,1076986,104537,104671,104818,104607,104710,104777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15932604,811761,4794432,2893183,2932846,2261580,7850260,6174624,5434698,2054512,5830604,...,1237575,2674322,8340490,4501932,1374980,1884005,8124624,6761684,4546874,810681
15932606,107623,13336,6452,6438,6441,6472,1245354,6457,2518214,6452032,...,3467440,6478,7222138,51076,6453,162954,13536,3469984,2736856,798736
15932661,1265311,4834976,5443562,38940,4821722,3971550,10330294,5956592,7372736,9891114,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15932682,6476770,2857762,896455,218926,2812956,5177960,4279286,957691,2558182,477466,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15932685,2298560,45471,45152,4906236,925345,931601,153834,10715344,2092952,3160048,...,2419313,5831494,9818500,1348214,4091144,3082116,6530566,7815632,45585,150774
15932688,80170,5952196,1570171,4050638,1965785,2090796,5526170,4777156,1965769,3800454,...,4539876,2123642,2355998,2354946,1696141,2910168,3892552,2655190,2245534,3220156
15932689,1490755,1137717,1488093,9310,15927,6723922,1788341,33092,94276,384631,...,1517753,15308,2426495,1499409,9315,94277,94644,418356,1510223,5680762
15932690,103600,2150816,103555,2111996,980293,103658,103633,596241,2350650,1814295,...,1208012,6914122,980287,347076,1207017,103670,7756994,103598,2787314,4488068
15932693,3875176,40779,7348344,40719,755331,1094868,39944,8104244,1374934,40777,...,5912356,6231692,14758,7797672,197421,87224,40145,1347101,3193272,87229
15932707,95794,109339,3148916,2924213,1668389,104680,5822734,109332,1319947,4549880,...,104983,1671353,130772,926343,1947355,4204412,6922946,4132378,1170055,2734599
15932718,1108295,6623552,1236111,34550,34556,34555,42748,34562,8448492,42792,...,4876860,6092742,8113168,42820,34557,129059,5071424,397981,42736,42802
15932764,54878,54884,54939,2174602,4646574,450601,54859,508351,1425092,1627067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15932767,8312,2767604,7345350,4341420,8317,8320,8284,67419,9169558,64693,...,63402,69651,56757,15580,79255,917081,743636,55525,8266,3500452
15932803,693841,2402030,8153130,6276246,3755330,3438490,9758988,101383,1716237,7879250,...,2794541,1035030,9802576,9339910,7985822,5619010,5126636,4135142,3135236,5147560
15932810,3045966,2627868,1029890,5464176,1052052,4349226,4538602,4488686,4356680,4594646,...,4458014,4866396,2668622,2664366,3814156,9397904,6059326,2664370,4855538,5870994
15932811,2199498,2258162,1826617,1771183,1771251,1319136,8220208,2680694,4083978,1665669,...,2860970,5168042,1623105,2894022,5577440,2599282,2404490,3076456,1623211,8948588
15932813,1710093,1819803,894301,155829,429456,2532274,1153620,14565,12913,1032338,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15932869,8898,5742368,9226924,897635,3217130,8906,4325392,55337,99086,4466368,...,1332427,2145512,2584607,9879584,4596922,3533074,819566,926983,4178092,1337236
15932870,2713516,203851,203861,203951,320736,320786,1245750,1389548,2213104,2396238,...,5023838,203911,2251320,2618094,6852746,5106722,10097174,2177904,407696,1719357
15932871,8189402,106828,40582,40393,40724,236576,207406,97144,2156746,83856,...,161458,1018232,1559799,9363086,4979956,1267750,9170908,9146664,7996952,2636024
15932880,996355,191826,40377,201066,951795,914561,5922992,745886,95608,248581,...,8948234,40215,40805,7850614,5890288,10012712,40492,10953618,40320,80883
15932886,3137008,74152,3741160,77251,3478738,63568,67845,488051,64216,67846,...,56563,388786,3399692,71468,899821,222936,3137004,75856,942629,541636
15932923,42268,42104,16382,42190,33166,3135533,39863,42068,42147,4080262,...,1990799,1955047,3144150,4497716,2145450,5210688,2045535,3160644,3975434,3914954
15932926,356281,66787,59205,1390544,73104,4944066,55829,70547,70452,102437,...,66774,59206,55995,62436,938766,57762,66794,59067,64438,64398
15932932,72571,59225,62899,15747,8500,8506,15751,67917,73974,57278,...,8508,8495,6869571,8504,4192908,8488,67927,76961,80088,147786
15932944,3133696,50220,207081,50584,48487,82196,12330,1331800,222431,222386,...,5747648,152051,396906,12759,204741,919081,435001,5892942,709206,5502630
15932965,3811156,2337580,8787688,9920906,1553743,4628142,2227966,1221450,6148076,2633032,...,5509932,1532937,2225290,2013099,2022957,8312748,2022895,2225292,2026545,2222812
15932966,9771628,5105492,8682,1372901,1321682,1364388,3580366,8640,8816,1955837,...,7304664,1211140,2269196,3137050,8765,840461,1811137,10064344,8773,59178
15932970,8640,8816,8791,2298566,1811137,8708,67445,8825,8837,4786910,...,8750,4916380,8817,8772,6475414,8985292,1024616,4593172,3137058,2861604
15932991,6617798,1263420,9567886,1161323,149768,1890735,48766,49244,18208,129443,...,3503750,153375,49847,4342488,12260,2712342,48497,11933,1714483,1236687

In [311]:
imp_sp_.shape

(717774, 25)

In [312]:
imp_sp_ = np.nan_to_num(imp_sp_)
imp_sp_first = imp_sp_[:,1]
imp_sp_first = np.reshape(imp_sp_first, [imp_sp_first.shape[0], 1])

In [313]:
imp_sp_first = imp_sp_first.astype(np.float)
imp_sp_first

array([[ 129343.],
       [5582964.],
       [  56482.],
       ...,
       [5105492.],
       [   8816.],
       [1263420.]])

In [314]:
[imp_uniq, imp_c] = np.unique(imp_sp_first,return_counts = True)
# y = np.bincount(imp_sp_first)
# ii = np.nonzero(y)[0]
# zip(ii, y[ii])

In [315]:
imp_uniq = np.reshape(imp_uniq, [imp_uniq.shape[0],1])

In [316]:
imp_c = np.reshape(imp_c,[imp_c.shape[0],1])

In [355]:
imp_ = np.concatenate((imp_uniq, imp_c), axis = 1)
imp_

array([[5.001e+03, 1.000e+00],
       [5.002e+03, 1.000e+00],
       [5.003e+03, 7.000e+00],
       ...,
       [      nan, 1.000e+00],
       [      nan, 1.000e+00],
       [      nan, 1.000e+00]])

In [356]:
imp = pd.DataFrame(imp_,columns = ["imp_uniq", "imp_c"] )

In [357]:
imp = imp.sort_values(by=['imp_c'], ascending = False)
imp

         imp_uniq  imp_c
1854       8796.0  654.0
26533    100227.0  633.0
78410   1811137.0  626.0
1751       8621.0  605.0
43676    478616.0  512.0
84794   2053822.0  470.0
44171    496141.0  426.0
26552    100302.0  424.0
53131    948643.0  408.0
161467  8805412.0  408.0
111657  3248926.0  397.0
116640  3818266.0  386.0
9380      40887.0  354.0
66712   1321131.0  347.0
1727       8586.0  343.0
28381    104802.0  340.0
11052     44208.0  337.0
27756    103484.0  327.0
1748       8618.0  312.0
11059     44219.0  303.0
125401  4454864.0  300.0
7513      34393.0  297.0
27845    103600.0  286.0
1729       8588.0  282.0
29842    109323.0  277.0
61491   1153426.0  270.0
75568   1668523.0  269.0
133135  5055268.0  265.0
6742      29801.0  263.0
7529      34429.0  263.0
...           ...    ...
88258   2208928.0    1.0
88256   2208912.0    1.0
88298   2210404.0    1.0
88302   2210564.0    1.0
88333   2211348.0    1.0
88303   2210616.0    1.0
88332   2211334.0    1.0
88331   2211316.0    1.0
88330   2211294.0    1.0
88328   2211220.0    1.0
88326   2211120.0    1.0
88325   2211092.0    1.0
88324   2211034.0    1.0
88323   2210926.0    1.0
88322   2210918.0    1.0
88320   2210870.0    1.0
88319   2210868.0    1.0
88318   2210866.0    1.0
88317   2210844.0    1.0
88314   2210802.0    1.0
88313   2210800.0    1.0
88312   2210798.0    1.0
88311   2210794.0    1.0
88310   2210780.0    1.0
88309   2210774.0    1.0
88308   2210688.0    1.0
88306   2210676.0    1.0
88305   2210670.0    1.0
88304   2210660.0    1.0
178949        NaN    1.0

[178950 rows x 2 columns]

In [343]:
# imp = imp[imp["imp_c"] > 100]
# imp.shape

(337, 2)

In [358]:
imp_list = pd.DataFrame(imp.imp_uniq)
imp_list

         imp_uniq
1854       8796.0
26533    100227.0
78410   1811137.0
1751       8621.0
43676    478616.0
84794   2053822.0
44171    496141.0
26552    100302.0
53131    948643.0
161467  8805412.0
111657  3248926.0
116640  3818266.0
9380      40887.0
66712   1321131.0
1727       8586.0
28381    104802.0
11052     44208.0
27756    103484.0
1748       8618.0
11059     44219.0
125401  4454864.0
7513      34393.0
27845    103600.0
1729       8588.0
29842    109323.0
61491   1153426.0
75568   1668523.0
133135  5055268.0
6742      29801.0
7529      34429.0
...           ...
88258   2208928.0
88256   2208912.0
88298   2210404.0
88302   2210564.0
88333   2211348.0
88303   2210616.0
88332   2211334.0
88331   2211316.0
88330   2211294.0
88328   2211220.0
88326   2211120.0
88325   2211092.0
88324   2211034.0
88323   2210926.0
88322   2210918.0
88320   2210870.0
88319   2210868.0
88318   2210866.0
88317   2210844.0
88314   2210802.0
88313   2210800.0
88312   2210798.0
88311   2210794.0
88310   2210780.0
88309   2210774.0
88308   2210688.0
88306   2210676.0
88305   2210670.0
88304   2210660.0
178949        NaN

[178950 rows x 1 columns]

In [347]:
meta = pd.read_csv("item_metadata.csv")

In [348]:
pro = pd.DataFrame(meta.properties)
item = pd.DataFrame(meta.item_id)

In [360]:
item = item[:377700]
item.shape

(377700, 1)

In [361]:
imp_exist = imp_list[imp_list["imp_uniq"].isin(item.item_id)]

In [363]:
imp_exist.T

,78410,1751,43676,84794,44171,26552,161467,9380,1727,28381,...,88330,88326,88325,88324,88322,88318,88313,88310,88308,88304
imp_uniq,1811137.0,8621.0,478616.0,2053822.0,496141.0,100302.0,8805412.0,40887.0,8586.0,104802.0,...,2211294.0,2211120.0,2211092.0,2211034.0,2210918.0,2210866.0,2210800.0,2210780.0,2210688.0,2210660.0

In [364]:
pro_imp = meta[meta["item_id"].isin(imp_exist.imp_uniq)]

In [392]:
pro_imp

        item_id                                         properties
0          5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1          5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2          5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
3          5910  Satellite TV|Sailing|Cosmetic Mirror|Telephone...
4          6066  Satellite TV|Sailing|Diving|Cosmetic Mirror|Sa...
5          6094  Satellite TV|Sailing|Safe (Hotel)|Telephone|Ho...
6          6288  Satellite TV|Airport Shuttle|Cosmetic Mirror|S...
8          6456  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
9          6561  Satellite TV|Golf Course|Cosmetic Mirror|Safe ...
10         6659  Satellite TV|Golf Course|Sailing|Resort|Airpor...
11         6853  Satellite TV|Sailing|Airport Shuttle|Diving|Sa...
12         7362  Satellite TV|Cosmetic Mirror|Telephone|Hotel|R...
13         7994  Satellite TV|Golf Course|Airport Shuttle|Safe ...
15         8810  Satellite TV|Safe (Hotel)|Telephone|Hotel|Rece...
16         9716  Satellite TV|Sailing|Resort|Airport Shuttle|Di...
17        12136  Satellite TV|Safe (Hotel)|Telephone|Hotel|Rece...
19        12415  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
20        12549  Satellite TV|Sailing|Diving|Safe (Hotel)|Telep...
21        12695  Satellite TV|Safe (Hotel)|Telephone|Hotel|Rece...
22        13597  Satellite TV|Sailing|Airport Shuttle|Cosmetic ...
26        14156  Golf Course|Sailing|Cosmetic Mirror|Safe (Hote...
28        14520  Safe (Hotel)|Telephone|Hotel|Sitting Area (Roo...
31        15527  Safe (Hotel)|Telephone|Hotel|Sitting Area (Roo...
32        15714  Golf Course|Telephone|Hotel|Sitting Area (Room...
33        15721  Satellite TV|Golf Course|Sailing|Diving|Safe (...
35        15980  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
38        17068  Satellite TV|Telephone|Hotel|Reception (24/7)|...
40        17375  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
41        17450  Satellite TV|Safe (Hotel)|Telephone|Hotel|Sitt...
42        17486  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
...         ...                                                ...
377583  2643434  Satellite TV|Openable Windows|Airport Shuttle|...
377584  2643526  WiFi (Public Areas)|WiFi (Rooms)|Free WiFi (Pu...
377587  2644520  Openable Windows|WiFi (Public Areas)|Singles|P...
377588  2645232  Openable Windows|WiFi (Public Areas)|Restauran...
377593  2648338  Airport Shuttle|WiFi (Public Areas)|Restaurant...
377596  2649526  Openable Windows|WiFi (Public Areas)|Restauran...
377600  2653402  Openable Windows|WiFi (Public Areas)|Restauran...
377602  2654642  Openable Windows|Express Check-In / Check-Out|...
377603  2655450  Openable Windows|WiFi (Public Areas)|Fridge|Wi...
377608  2664524  All Inclusive (Upon Inquiry)|Openable Windows|...
377611  2665026  Openable Windows|Airport Shuttle|WiFi (Public ...
377616  2672266  Openable Windows|Express Check-In / Check-Out|...
377617  2674518  Openable Windows|Airport Shuttle|WiFi (Public ...
377620  2677658  Openable Windows|Express Check-In / Check-Out|...
377621  2677944  Pousada (BR)|Openable Windows|Restaurant|Fridg...
377632  2706834  Openable Windows|Express Check-In / Check-Out|...
377633  2707640  Satellite TV|Openable Windows|Balcony|WiFi (Pu...
377646  2746940  Openable Windows|Express Check-In / Check-Out|...
377656  2763558  Satellite TV|Openable Windows|WiFi (Public Are...
377660  2771320  Openable Windows|Restaurant|Fan|Beach|Good Rat...
377663  2774868  Golf Course|Openable Windows|WiFi (Public Area...
377667  2778290  Openable Windows|WiFi (Public Areas)|Pet Frien...
377669  2781634  Pousada (BR)|Openable Windows|Airport Shuttle|...
377675  2797993  Openable Windows|WiFi (Public Areas)|Restauran...
377680  2809068  Express Check-In / Check-Out|WiFi (Public Area...
377682  2814217  Pousada (BR)|Openable Windows|WiFi (Public Are...
377684  2815522  Balcony|WiFi (Public Areas)|Restaurant|Electri...
377693  2828314  Pousada (BR)|Openable Windows|Balcony|WiFi (Pu...
377697  2833601  Openable Windows|Airport Shuttle|WiFi (Public ...
377699  2836101  Openable Windows|WiFi (Public Areas)|Electric ...

[72161 rows x 2 columns]

In [366]:
pro_imp_split = pro_imp.properties.str.split('|')

In [393]:
pro_imp_split

0         [Satellite TV, Golf Course, Airport Shuttle, C...
1         [Satellite TV, Cosmetic Mirror, Safe (Hotel), ...
2         [Satellite TV, Cosmetic Mirror, Safe (Hotel), ...
3         [Satellite TV, Sailing, Cosmetic Mirror, Telep...
4         [Satellite TV, Sailing, Diving, Cosmetic Mirro...
5         [Satellite TV, Sailing, Safe (Hotel), Telephon...
6         [Satellite TV, Airport Shuttle, Cosmetic Mirro...
8         [Satellite TV, Cosmetic Mirror, Safe (Hotel), ...
9         [Satellite TV, Golf Course, Cosmetic Mirror, S...
10        [Satellite TV, Golf Course, Sailing, Resort, A...
11        [Satellite TV, Sailing, Airport Shuttle, Divin...
12        [Satellite TV, Cosmetic Mirror, Telephone, Hot...
13        [Satellite TV, Golf Course, Airport Shuttle, S...
15        [Satellite TV, Safe (Hotel), Telephone, Hotel,...
16        [Satellite TV, Sailing, Resort, Airport Shuttl...
17        [Satellite TV, Safe (Hotel), Telephone, Hotel,...
19        [Satellite TV, Cosmetic Mirror, Safe (Hotel), ...
20        [Satellite TV, Sailing, Diving, Safe (Hotel), ...
21        [Satellite TV, Safe (Hotel), Telephone, Hotel,...
22        [Satellite TV, Sailing, Airport Shuttle, Cosme...
26        [Golf Course, Sailing, Cosmetic Mirror, Safe (...
28        [Safe (Hotel), Telephone, Hotel, Sitting Area ...
31        [Safe (Hotel), Telephone, Hotel, Sitting Area ...
32        [Golf Course, Telephone, Hotel, Sitting Area (...
33        [Satellite TV, Golf Course, Sailing, Diving, S...
35        [Satellite TV, Cosmetic Mirror, Safe (Hotel), ...
38        [Satellite TV, Telephone, Hotel, Reception (24...
40        [Satellite TV, Cosmetic Mirror, Safe (Hotel), ...
41        [Satellite TV, Safe (Hotel), Telephone, Hotel,...
42        [Satellite TV, Cosmetic Mirror, Safe (Hotel), ...
                                ...
377583    [Satellite TV, Openable Windows, Airport Shutt...
377584    [WiFi (Public Areas), WiFi (Rooms), Free WiFi ...
377587    [Openable Windows, WiFi (Public Areas), Single...
377588    [Openable Windows, WiFi (Public Areas), Restau...
377593    [Airport Shuttle, WiFi (Public Areas), Restaur...
377596    [Openable Windows, WiFi (Public Areas), Restau...
377600    [Openable Windows, WiFi (Public Areas), Restau...
377602    [Openable Windows, Express Check-In / Check-Ou...
377603    [Openable Windows, WiFi (Public Areas), Fridge...
377608    [All Inclusive (Upon Inquiry), Openable Window...
377611    [Openable Windows, Airport Shuttle, WiFi (Publ...
377616    [Openable Windows, Express Check-In / Check-Ou...
377617    [Openable Windows, Airport Shuttle, WiFi (Publ...
377620    [Openable Windows, Express Check-In / Check-Ou...
377621    [Pousada (BR), Openable Windows, Restaurant, F...
377632    [Openable Windows, Express Check-In / Check-Ou...
377633    [Satellite TV, Openable Windows, Balcony, WiFi...
377646    [Openable Windows, Express Check-In / Check-Ou...
377656    [Satellite TV, Openable Windows, WiFi (Public ...
377660    [Openable Windows, Restaurant, Fan, Beach, Goo...
377663    [Golf Course, Openable Windows, WiFi (Public A...
377667    [Openable Windows, WiFi (Public Areas), Pet Fr...
377669    [Pousada (BR), Openable Windows, Airport Shutt...
377675    [Openable Windows, WiFi (Public Areas), Restau...
377680    [Express Check-In / Check-Out, WiFi (Public Ar...
377682    [Pousada (BR), Openable Windows, WiFi (Public ...
377684    [Balcony, WiFi (Public Areas), Restaurant, Ele...
377693    [Pousada (BR), Openable Windows, Balcony, WiFi...
377697    [Openable Windows, Airport Shuttle, WiFi (Publ...
377699    [Openable Windows, WiFi (Public Areas), Electr...
Name: properties, Length: 72161, dtype: object

In [367]:
pro_imp_split_ = pro_imp_split.apply(lambda x : pd.Series(x))

In [395]:
pro_imp_split_.head()

,0,1,2,3,4,5,6,7,8,9,...,100,101,102,103,104,105,106,107,108,109
0,Satellite TV,Golf Course,Airport Shuttle,Cosmetic Mirror,Safe (Hotel),Telephone,Hotel,Sitting Area (Rooms),Reception (24/7),Air Conditioning,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Satellite TV,Cosmetic Mirror,Safe (Hotel),Telephone,Hotel,Sitting Area (Rooms),Reception (24/7),Wheelchair Accessible,Hypoallergenic Rooms,Hotel Bar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Satellite TV,Cosmetic Mirror,Safe (Hotel),Telephone,Hotel,Reception (24/7),Satisfactory Rating,Hiking Trail,Luxury Hotel,Terrace (Hotel),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Satellite TV,Sailing,Cosmetic Mirror,Telephone,Hotel,Cable TV,Hotel Bar,Bathtub,Satisfactory Rating,Room Service,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Satellite TV,Sailing,Diving,Cosmetic Mirror,Safe (Hotel),Telephone,Hotel,Sitting Area (Rooms),Reception (24/7),Wheelchair Accessible,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [381]:
pro_imp_split_sin = pro_imp_split_.stack().reset_index(level=1,drop=True).to_frame('property_single')

In [383]:
property_single = pro_imp_split_sin['property_single'].unique()

In [419]:
property_encoded = pd.get_dummies(pro_imp_split_sin.property_single)
property_sum = property_encoded.sum(axis = 0)

In [420]:
property_sum = property_sum.sort_values(ascending = False).to_frame().T

In [421]:
property_sum

,Satisfactory Rating,Good Rating,Shower,Car Park,WiFi (Public Areas),Television,WiFi (Rooms),Hotel,Non-Smoking Rooms,Openable Windows,...,Club Hotel,1 Star,Casino (Hotel),Farmstay,Hostal (ES),Kosher Food,Camping Site,Szep Kartya,Casa Rural (ES),Water Slide
0,58601,51992,51894,50757,50332,50143,49200,44330,43392,42422,...,810,809,747,555,364,204,193,188,166,79

In [416]:
property_sum.loc["5 Star"]

0    2781
Name: 5 Star, dtype: int64