In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')

In [9]:
platform = pd.DataFrame(train.platform)

In [11]:
platform_kr = platform[platform["platform"] == "KR"]
platform_kr

         platform
2267           KR
17829          KR
19111          KR
19112          KR
19113          KR
19114          KR
19115          KR
19116          KR
19117          KR
19118          KR
19119          KR
19120          KR
19121          KR
19122          KR
19123          KR
19124          KR
19125          KR
19126          KR
19127          KR
19128          KR
19129          KR
19130          KR
19131          KR
19132          KR
19133          KR
19134          KR
19135          KR
19136          KR
19137          KR
19138          KR
...           ...
15929731       KR
15929732       KR
15929733       KR
15929734       KR
15929735       KR
15929736       KR
15929737       KR
15929738       KR
15929739       KR
15929740       KR
15929741       KR
15929742       KR
15929743       KR
15929744       KR
15929745       KR
15929746       KR
15929747       KR
15929748       KR
15929749       KR
15929750       KR
15929751       KR
15929752       KR
15929753       KR
15929754       KR
15929755       KR
15929756       KR
15929757       KR
15929758       KR
15929759       KR
15929760       KR

[88031 rows x 1 columns]

In [15]:
ac = pd.DataFrame(train.action_type)
poi = train[ac['action_type'] == "search for poi"]
des = train[ac['action_type'] == "search for destination"]
d = pd.concat([poi, des])
city = d["city"]

In [16]:
city_sp = city.str.split(',')
city_sp_ = city_sp.apply(lambda x : pd.Series(x))
city_sp_.columns = ['city', 'country', 'nan']
city_ = city_sp_.drop(["nan"], axis = 1)

In [38]:
city_

array([['Sydney', ' Australia'],
       ['Sydney', ' Australia'],
       ['London', ' United Kingdom'],
       ...,
       ['New York', ' USA'],
       ['Natal', ' Brazil'],
       ['Paris', ' France']], dtype=object)

In [45]:
city_kr = city_[city_["country"] == " South Korea"]

In [60]:
kr = pd.concat([d["user_id"], platform_kr, city_kr], axis = 1)

In [61]:
kr_ = kr[~kr["platform"].isnull()]
kr_ = kr_[~kr_["city"].isnull()]
kr_ = kr_[~kr_["country"].isnull()]

In [64]:
kr_

               user_id platform       city       country
21387     KVE8NK15RLPD       KR      Yeosu   South Korea
31992     CHX1PBV1BEEL       KR  Hongcheon   South Korea
77690     JVHZ924NJV35       KR      Seoul   South Korea
77702     JVHZ924NJV35       KR      Seoul   South Korea
77705     JVHZ924NJV35       KR      Seoul   South Korea
77707     JVHZ924NJV35       KR      Seoul   South Korea
141114    D09QA2WKQ3FH       KR   Gyeongju   South Korea
154360    94KE8DD4GNIN       KR    Gwangju   South Korea
169564    BHK75918S68U       KR      Yeosu   South Korea
169589    BHK75918S68U       KR      Yeosu   South Korea
233551    WO7IMD787KS6       KR    Incheon   South Korea
270939    ABFT4K6WPW6Q       KR      Busan   South Korea
309673    B8CY156ZIT4O       KR      Seoul   South Korea
339098    J83V82LDJGK9       KR     Gunsan   South Korea
351787    J62KA2FQM8SJ       KR      Daegu   South Korea
356495    YXIB786RBFJ0       KR   Changwon   South Korea
356497    YXIB786RBFJ0       KR   Changwon   South Korea
356499    YXIB786RBFJ0       KR   Changwon   South Korea
358190    3N1W2TLJ5ID5       KR     Sokcho   South Korea
358191    3N1W2TLJ5ID5       KR     Sokcho   South Korea
358247    3N1W2TLJ5ID5       KR     Sokcho   South Korea
358251    3N1W2TLJ5ID5       KR  Gangneung   South Korea
358256    3N1W2TLJ5ID5       KR  Gangneung   South Korea
421649    NH3D0AHM4HCM       KR      Busan   South Korea
433284    KFDRPB5UIAIH       KR      Suwon   South Korea
439889    3IXGB70WGO58       KR    Incheon   South Korea
439890    3IXGB70WGO58       KR  Ganghwado   South Korea
465287    18QPX51OOXYM       KR  Gangneung   South Korea
465291    18QPX51OOXYM       KR  Gangneung   South Korea
470279    B8J330IVC17G       KR     Anyang   South Korea
...                ...      ...        ...           ...
15471033  M1J43HG48KJY       KR    Yong-In   South Korea
15471034  M1J43HG48KJY       KR    Yong-In   South Korea
15471038  M1J43HG48KJY       KR    Yong-In   South Korea
15487696  UIHI009PU5K6       KR      Busan   South Korea
15487700  UIHI009PU5K6       KR      Busan   South Korea
15509168  A4F19O2LAR9X       KR  Gangneung   South Korea
15513792  K74EGW54ICTC       KR      Wonju   South Korea
15513793  K74EGW54ICTC       KR      Wonju   South Korea
15518739  15QVVTPRSPNE       KR  Gangneung   South Korea
15554264  LC6663X9T6DO       KR      Geoje   South Korea
15554265  LC6663X9T6DO       KR      Yeosu   South Korea
15592520  92XE0Y1HQIYC       KR   Hwaseong   South Korea
15647349  L77MDBRRBDX8       KR      Yeosu   South Korea
15726250  HQH6B6VTNWHH       KR      Daegu   South Korea
15727394  INL6HSMW9NFQ       KR      Busan   South Korea
15728366  LJMO8WCG9L3B       KR      Busan   South Korea
15741702  T4RK619AGUX0       KR      Busan   South Korea
15760056  178H8GZUQ2UC       KR      Busan   South Korea
15774668  3N7F524QTL9R       KR    Incheon   South Korea
15808818  S3VS4UGBB6IE       KR   Gyeongju   South Korea
15843686  98PZD8NQAU7O       KR   Gyeongju   South Korea
15843751  98PZD8NQAU7O       KR   Gyeongju   South Korea
15849186  PITT9S4PE25S       KR  Gangneung   South Korea
15849189  PITT9S4PE25S       KR  Chuncheon   South Korea
15854740  5483YL4261BO       KR      Suwon   South Korea
15854741  5483YL4261BO       KR      Suwon   South Korea
15868549  712A6Q591FY3       KR     Jeonju   South Korea
15890570  1A5KZHSY44A6       KR      Yeosu   South Korea
15897319  FY3QNI5LM1MB       KR     Goyang   South Korea
15911598  ES77J0F58CIC       KR     Goyang   South Korea

[1519 rows x 4 columns]

In [65]:
kr_idx = kr_["user_id"]

In [69]:
train_kr = train[train["platform"] == "KR"]

In [71]:
train_kr = train_kr[train_kr["user_id"].isin(kr_idx)]

In [75]:
train_kr.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
21387,KVE8NK15RLPD,046b4695f1367,1541132416,1,search for destination,"Yeosu, South Korea",KR,"Yeosu, South Korea",mobile,NaN,NaN,NaN
21388,KVE8NK15RLPD,046b4695f1367,1541132461,2,clickout item,7973432,KR,"Yeosu, South Korea",mobile,NaN,7973432|5850284|5165474|2378058|2723862|877313...,111|163|91|115|141|114|82|153|80|93|91|124|84|...
31992,CHX1PBV1BEEL,a30f83bc1a3b0,1541244050,1,search for destination,"Hongcheon, South Korea",KR,"Hongcheon, South Korea",desktop,NaN,NaN,NaN
31993,CHX1PBV1BEEL,a30f83bc1a3b0,1541244074,2,clickout item,1788301,KR,"Hongcheon, South Korea",desktop,NaN,9781202|9783962|9784258|9784374|8512216|102717...,68|137|85|120|90|60|78|155|79|79|77|77|63|85|1...
77690,JVHZ924NJV35,d539f9b22ee1d,1541500074,1,search for poi,Hongdae,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN

In [160]:
train_kr.shape

(17290, 12)

In [85]:
kr_ref = train_kr.loc[train_kr.reference.str.isnumeric()==False]

In [98]:
kr_ref_ = kr_ref.reference

In [161]:
kr_ref.reference

21387             Yeosu, South Korea
31992         Hongcheon, South Korea
77690                        Hongdae
77696        interaction sort button
77697         rating and recommended
77698                Focus on Rating
77701                          Motel
77702                        Hongdae
77704                          Motel
77705                        Hongdae
77707                        Hongdae
77708                     Manila Bay
141114         Gyeongju, South Korea
154360          Gwangju, South Korea
169564            Yeosu, South Korea
169589            Yeosu, South Korea
233551          Incheon, South Korea
270939            Busan, South Korea
270940       interaction sort button
270941       interaction sort button
270942      distance and recommended
270943             Focus on Distance
309659          Free WiFi (Combined)
309660            Breakfast Included
309672             Focus on Distance
309673                 Seoul Station
339098           Gunsan, South Korea
351787            Daegu, South Korea
356495         Changwon, South Korea
356497         Changwon, South Korea
                      ...
15843690                      4 Star
15843691                      4 Star
15843692                      4 Star
15843693                      3 Star
15843745                      Resort
15843746                       Hotel
15843749                       Hotel
15843750                      Resort
15843751       Gyeongju, South Korea
15843752     interaction sort button
15843753     interaction sort button
15843754       price and recommended
15843755                  Best Value
15849186      Gangneung, South Korea
15849189      Chuncheon, South Korea
15854740          Suwon, South Korea
15854741          Suwon, South Korea
15854742     interaction sort button
15868549         Jeonju, South Korea
15890570          Yeosu, South Korea
15890571     interaction sort button
15890572      rating and recommended
15890573             Focus on Rating
15890575                  Restaurant
15890576                       Hotel
15897315    Horta de San Juan, Spain
15897317    Horta de San Juan, Spain
15897318    Horta de San Juan, Spain
15897319                      KINTEX
15911598         Goyang, South Korea
Name: reference, Length: 3118, dtype: object

In [88]:
pd.DataFrame(kr_ref_.unique()).to_csv(path_or_buf = os.path.abspath('kr_ref.csv'))

In [99]:
kr_ref_ = pd.DataFrame(kr_ref_.unique())
kr_ref_.columns = ["ref"]

In [101]:
pd.DataFrame(kr_ref_).to_csv(path_or_buf = os.path.abspath('kr_ref.csv'))

In [103]:
kr_ref_

                                   ref
0                   Yeosu, South Korea
1               Hongcheon, South Korea
2                              Hongdae
3              interaction sort button
4               rating and recommended
5                      Focus on Rating
6                                Motel
7                           Manila Bay
8                Gyeongju, South Korea
9                 Gwangju, South Korea
10                Incheon, South Korea
11                  Busan, South Korea
12            distance and recommended
13                   Focus on Distance
14                Free WiFi (Combined)
15                  Breakfast Included
16                       Seoul Station
17                 Gunsan, South Korea
18                  Daegu, South Korea
19               Changwon, South Korea
20                 Sokcho, South Korea
21               price and recommended
22                          Best Value
23                 our recommendations
24                  Sort By Popularity
25                    Excellent Rating
26                        Sokcho Beach
27              Gangneung, South Korea
28                     Gwangalli Beach
29                   Hwaseong Fortress
..                                 ...
254        Gimpo International Airport
255       Gimhae International Airport
256             Patong Beach, Thailand
257                       Patong Beach
258                 Yesan, South Korea
259              Gimcheon, South Korea
260              Gokseong, South Korea
261                        Gwanghwamun
262                Jinhae, South Korea
263                 Newbridge, Ireland
264                Nusa Dua, Indonesia
265                    Kuta, Indonesia
266                    Ubud, Indonesia
267                Seminyak, Indonesia
268                       Luxury Hotel
269        Dubai, United Arab Emirates
270            Deogyusan national park
271                     Las Vegas, USA
272                Hadong, South Korea
273                    Ca Mau, Vietnam
274                Gimhae, South Korea
275                           Seochogu
276                      New York, USA
277                  Vi Thanh, Vietnam
278                      Suwon station
279                                Gym
280           Grindelwald, Switzerland
281                              Beach
282                Mexico City, Mexico
283  Mexico City International Airport

[284 rows x 1 columns]

In [76]:
kr_ref = train_kr[train_kr["action_type"] == "clickout item"]

In [109]:
kr_ref_landmark = pd.read_csv('kr_ref_landmark.csv')

In [110]:
kr_ref_landmark

                                   ref
0                   Yeosu, South Korea
1               Hongcheon, South Korea
2                              Hongdae
3                           Manila Bay
4                Gyeongju, South Korea
5                 Gwangju, South Korea
6                 Incheon, South Korea
7                   Busan, South Korea
8                        Seoul Station
9                  Gunsan, South Korea
10                  Daegu, South Korea
11               Changwon, South Korea
12                 Sokcho, South Korea
13                        Sokcho Beach
14              Gangneung, South Korea
15                     Gwangalli Beach
16                   Hwaseong Fortress
17              Ganghwado, South Korea
18              Skyros - Chora, Greece
19                 Anyang, South Korea
20                  Gunpo, South Korea
21              Chuncheon, South Korea
22                  Suwon, South Korea
23               Gapyeong, South Korea
24                      Haeundae Beach
25                            Sindorim
26                Hong Kong, Hong Kong
27                Daejeon, South Korea
28                     Tabernas, Spain
29                      Fukuoka, Japan
..                                 ...
200               Cheonan, South Korea
201                Novosibirsk, Russia
202             Yeongdeok, South Korea
203        Gimpo International Airport
204       Gimhae International Airport
205             Patong Beach, Thailand
206                       Patong Beach
207                 Yesan, South Korea
208              Gimcheon, South Korea
209              Gokseong, South Korea
210                        Gwanghwamun
211                Jinhae, South Korea
212                 Newbridge, Ireland
213                Nusa Dua, Indonesia
214                    Kuta, Indonesia
215                    Ubud, Indonesia
216                Seminyak, Indonesia
217        Dubai, United Arab Emirates
218            Deogyusan national park
219                     Las Vegas, USA
220                Hadong, South Korea
221                    Ca Mau, Vietnam
222                Gimhae, South Korea
223                           Seochogu
224                      New York, USA
225                  Vi Thanh, Vietnam
226                      Suwon station
227           Grindelwald, Switzerland
228                Mexico City, Mexico
229  Mexico City International Airport

[230 rows x 1 columns]

In [111]:
kr_ref_uniq = pd.read_csv('kr_ref_landmark_uniq.csv')

In [112]:
kr_ref_uniq

                              ref
0              Yeosu, South Korea
1          Hongcheon, South Korea
2                         Hongdae
3           Gyeongju, South Korea
4            Gwangju, South Korea
5            Incheon, South Korea
6              Busan, South Korea
7                   Seoul Station
8             Gunsan, South Korea
9              Daegu, South Korea
10          Changwon, South Korea
11            Sokcho, South Korea
12                   Sokcho Beach
13         Gangneung, South Korea
14                Gwangalli Beach
15              Hwaseong Fortress
16         Ganghwado, South Korea
17            Anyang, South Korea
18             Gunpo, South Korea
19         Chuncheon, South Korea
20             Suwon, South Korea
21          Gapyeong, South Korea
22                 Haeundae Beach
23                       Sindorim
24           Daejeon, South Korea
25         Tongyeong, South Korea
26            Jeonju, South Korea
27         Jeongseon, South Korea
28                       Everland
29         Sajik Baseball Stadium
..                            ...
124          Miryang, South Korea
125         Hapcheon, South Korea
126         Cheorwon, South Korea
127             Inje, South Korea
128               Eurwangni Beach
129                Sokcho Airport
130       Pyeongtaek, South Korea
131          Pocheon, South Korea
132                Hakata Station
133                Kokura Station
134                       Itaewon
135            Ansan, South Korea
136                        KINTEX
137                 Yeosu Airport
138     National Theater of Korea
139                          COEX
140          Cheonan, South Korea
141        Yeongdeok, South Korea
142   Gimpo International Airport
143  Gimhae International Airport
144            Yesan, South Korea
145         Gimcheon, South Korea
146         Gokseong, South Korea
147                   Gwanghwamun
148           Jinhae, South Korea
149       Deogyusan national park
150           Hadong, South Korea
151           Gimhae, South Korea
152                      Seochogu
153                 Suwon station

[154 rows x 1 columns]

In [125]:
kr_d = train_kr[train_kr["reference"].isin(kr_ref_uniq.ref)]

In [129]:
kr_d_idx = kr_d.user_id

In [130]:
train_kr_d = train_kr[train_kr["user_id"].isin(kr_d_idx)]

In [133]:
train_kr_d.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
21387,KVE8NK15RLPD,046b4695f1367,1541132416,1,search for destination,"Yeosu, South Korea",KR,"Yeosu, South Korea",mobile,NaN,NaN,NaN
21388,KVE8NK15RLPD,046b4695f1367,1541132461,2,clickout item,7973432,KR,"Yeosu, South Korea",mobile,NaN,7973432|5850284|5165474|2378058|2723862|877313...,111|163|91|115|141|114|82|153|80|93|91|124|84|...
31992,CHX1PBV1BEEL,a30f83bc1a3b0,1541244050,1,search for destination,"Hongcheon, South Korea",KR,"Hongcheon, South Korea",desktop,NaN,NaN,NaN
31993,CHX1PBV1BEEL,a30f83bc1a3b0,1541244074,2,clickout item,1788301,KR,"Hongcheon, South Korea",desktop,NaN,9781202|9783962|9784258|9784374|8512216|102717...,68|137|85|120|90|60|78|155|79|79|77|77|63|85|1...
77690,JVHZ924NJV35,d539f9b22ee1d,1541500074,1,search for poi,Hongdae,KR,"Seoul, South Korea",mobile,NaN,NaN,NaN

In [145]:
kr_d_imp = pd.DataFrame(train_kr_d.impressions)
kr_d_imp.columns = ["imp"]
kr_d_imp = kr_d_imp[~kr_d_imp["imp"].isnull()]
kr_d_imp = kr_d_imp.imp

In [146]:
kr_d_imp_sp = kr_d_imp.str.split('|')
kr_d_imp_sp_ = kr_d_imp_sp.apply(lambda x : pd.Series(x))

In [147]:
kr_d_imp_sp_

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
21388,7973432,5850284,5165474,2378058,2723862,8773132,3805128,9860526,6806370,8963040,...,8796512,8804654,8806010,8739524,8805924,7968646,7716658,8804964,8805066,8894560
31993,9781202,9783962,9784258,9784374,8512216,10271736,7898400,1788301,4475428,8103990,...,7041876,5752376,7126854,8012922,7888460,7916304,8920450,7916402,8158504,8198868
77693,363061,4841728,9386776,475131,2736998,6625240,3570134,3181886,3954788,2855981,...,4415978,5081032,3501452,5702366,2867638,6800422,155465,5109850,363121,7135776
77694,3155080,2282448,155374,3480578,475296,797516,3067508,1237970,3505382,390186,...,3859976,6893402,3145303,8444298,1320558,155989,2738638,9379730,157081,377811
77695,363101,3171165,2110436,4518438,3501450,4849224,2380194,2592244,363051,1888089,...,3767064,3500830,363046,363071,6523164,4454362,363111,6062804,7126948,10091602
77706,8488146,363061,4841728,9386776,475131,2736998,6625240,3570134,3954788,3181886,...,3501452,385916,5081032,4415978,5702366,155465,6800422,5109850,363121,2282448
141121,494476,494491,2199156,4776264,3893850,2199130,1955893,5188146,2199116,2108566,...,1951961,4065586,2199120,1955927,2817824,2488484,4129994,6022062,10134524,10661514
154361,5966358,7286384,6305888,3860676,3827330,5119078,7238254,5767116,9238372,5628688,...,5075492,4809684,3160914,3974026,5198264,4439810,5049906,1788097,9183796,5124324
154362,5966358,7286384,6305888,3860676,3827330,5119078,7238254,5767116,9238372,5628688,...,5075492,4809684,3160914,3974026,5198264,4439810,5049906,1788097,9183796,5124324
154363,5966358,7286384,6305888,3860676,3827330,5119078,7238254,5767116,9238372,5628688,...,5075492,4809684,3160914,3974026,5198264,4439810,5049906,1788097,9183796,5124324
154364,5966358,7286384,6305888,3860676,3827330,5119078,7238254,5767116,9238372,5628688,...,5075492,4809684,3160914,3974026,5198264,4439810,5049906,1788097,9183796,5124324
154365,4475300,6301338,4679822,7742690,6622952,7726606,8107708,3824874,4479752,6338668,...,7160132,4775876,8310142,5963936,3518586,5621918,9204574,4603186,1009515,4492166
154366,5966358,7286384,6305888,3860676,3827330,5119078,7238254,5767116,9238372,5628688,...,5075492,4809684,3160914,3974026,5198264,4439810,5049906,1788097,9183796,5124324
154367,5966358,7286384,6305888,3860676,3827330,5119078,7238254,5767116,9238372,5628688,...,5075492,4809684,3160914,3974026,5198264,4439810,5049906,1788097,9183796,5124324
154368,5966358,7286384,6305888,3860676,3827330,5119078,7238254,5767116,9238372,5628688,...,5075492,4809684,3160914,3974026,5198264,4439810,5049906,1788097,9183796,5124324
169566,5850284,7973432,8403044,2596815,6806570,8963040,5165474,2378058,2508340,2269286,...,7996972,8773132,5478926,3478064,6806370,8282548,3483900,9860526,5749674,8741794
169569,5850284,7973432,8403044,2596815,6806570,8963040,5165474,2378058,2508340,2269286,...,7996972,8773132,5478926,3478064,6806370,8282548,3483900,9860526,5749674,8741794
169579,3751026,6188578,5523256,7874106,5754204,7751264,8807862,8429458,9175776,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169585,7973432,5850284,2596815,8963040,8403044,6806570,5165474,4764084,2378058,7366096,...,3486116,5478926,6806370,2269286,8282548,3805128,9860526,7996972,3478064,4953110
169586,7973432,5850284,2596815,8963040,8403044,6806570,5165474,4764084,2378058,7366096,...,3486116,5478926,6806370,2269286,8282548,3805128,9860526,7996972,3478064,4953110
169587,7973432,5850284,2596815,8963040,8403044,6806570,5165474,4764084,2378058,7366096,...,3486116,5478926,6806370,2269286,8282548,3805128,9860526,7996972,3478064,4953110
169588,7973432,5850284,2596815,8963040,8403044,6806570,5165474,4764084,2378058,7366096,...,3486116,5478926,6806370,2269286,8282548,3805128,9860526,7996972,3478064,4953110
169590,5850284,7973432,8403044,2596815,6806570,8963040,5165474,2378058,2508340,2269286,...,7996972,8773132,5478926,3478064,6806370,8282548,3483900,9860526,5749674,8741794
169591,5850284,7973432,8403044,2596815,6806570,8963040,5165474,2378058,2508340,2269286,...,7996972,8773132,5478926,3478064,6806370,8282548,3483900,9860526,5749674,8741794
169592,5850284,7973432,8403044,2596815,6806570,8963040,5165474,2378058,2508340,2269286,...,7996972,8773132,5478926,3478064,6806370,8282548,3483900,9860526,5749674,8741794
169594,5850284,7973432,8403044,2596815,6806570,8963040,5165474,2378058,2508340,2269286,...,7996972,8773132,5478926,3478064,6806370,8282548,3483900,9860526,5749674,8741794
169596,5850284,7973432,8403044,2596815,6806570,8963040,5165474,2378058,2508340,2269286,...,7996972,8773132,5478926,3478064,6806370,8282548,3483900,9860526,5749674,8741794
169598,5850284,7973432,8403044,2596815,6806570,8963040,5165474,2378058,2508340,2269286,...,7996972,8773132,5478926,3478064,6806370,8282548,3483900,9860526,5749674,8741794
169599,7973432,5850284,2596815,8963040,8403044,6806570,5165474,4764084,2378058,7366096,...,3486116,5478926,6806370,2269286,8282548,3805128,9860526,7996972,3478064,4953110
233585,2199098,8969612,5163236,492986,2488590,4877838,3136075,2128162,8461740,899659,...,2831074,678336,9374698,6696400,3857576,3490408,496431,3146432,5708888,2440962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15487694,6312778,493791,7030094,1001201,493886,953211,437551,363036,175552,1167431,...,9735116,3136092,3183198,4146200,3768914,7563458,3136084,6623262,6270368,3875998
15487697,7030094,1001201,6312778,953211,437551,493791,493886,175552,1167431,363036,...,2056932,5722766,5050336,3499092,9735116,3136092,3183198,3487424,3215804,4146200
15487701,7030094,1001201,6312778,953211,437551,493791,493886,175552,1167431,363036,...,2056932,5722766,5050336,3499092,9735116,3136092,3183198,3487424,3215804,4146200
15509167,3820080,8744064,4177108,8194328,8921424,6451980,8513240,1952785,3366626,9316514,...,6379746,1588739,3182811,4885930,8307372,5166074,3184660,2199054,4919106,9514620
15509170,6512676,8744064,3820080,4177108,6451980,8921424,8194328,9316514,9234344,8923788,...,3182811,9495454,5415338,5166074,2199054,4919106,8914754,9514620,3507856,6338692
15513794,1952789,3487312,8814886,9490332,8147180,6311012,9448162,9795510,8014384,8386316,...,8101952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15518737,1352094,7363384,495896,513311,5702720,1785729,5762040,8484560,7816260,5479672,...,4498104,7127100,8406792,1836925,5075484,5166596,5761022,5098290,1584685,1774469
15518740,4177108,6512676,8744064,9589742,9234344,8923788,6784026,6451980,8921424,9050424,...,6474644,8194328,8455974,8483870,8492956,8493602,8967844,9171044,9316514,9606982
15518750,4177108,6512676,8744064,9589742,9234344,8921424,8923788,6784026,6451980,9050424,...,6474644,8194328,8455974,8483870,8492956,8493602,8967844,9171044,9316514,9606982
15554282,3751026,8403044,2596815,6806570,2378058,8963040,2508340,3486116,7366096,8773132,...,3769070,7996972,8282548,4937534,3483900,5749674,8806010,8805924,7915630,7350200
15567189,2519096,153066,2523852,34322,8760056,10596510,153072,2311670,1405142,980249,...,1258002,980241,3438488,2676372,4176808,2650138,2632248,43023,2316232,1892401
15567195,1346323,42887,1894109,2177014,100234,2854720,34305,149394,6906522,9459020,...,5645838,4645456,7796866,7415808,1350974,2439518,7918840,7930652,5748634,9285160
15592522,3136148,4742894,5193548,5082084,2034377,942687,1788535,2599852,2712372,5018460,...,3508360,7707118,9875172,3761876,3879936,4492564,5127082,7319824,7354086,7743066
15592528,3136148,4742894,5193548,5082084,2034377,942687,1788535,3252896,2712372,4077650,...,3508360,2201118,7707118,3879936,9875172,3761876,5127082,4492564,7319824,7354086
15647356,5749674,5850284,5165474,2378054,2596815,2604046,2508340,7158502,10170000,8467364,...,8282548,2597512,10063506,3769070,3805128,3898716,4937534,4953110,5067172,6902910
15726255,7730012,7753560,5137160,6847272,959405,2878917,8500436,5073562,7097706,494891,...,4766626,5646078,2378025,1454513,6847022,3884608,5081062,9923388,10067558,8175036
15741705,7030094,437551,3183198,493791,493886,1167431,175552,2056932,1001201,7563458,...,2901272,5710368,3136092,953211,3875998,2847674,3758274,694906,4907630,4455318
15760061,363036,5049892,3797714,3485406,1827291,2671138,9943650,1001141,3768914,9986032,...,4994346,5050336,3146338,3487412,4416232,5657436,3365808,3507702,4498436,3487414
15760062,363036,5049892,3797714,3485406,1827291,2671138,9943650,1001141,3768914,9986032,...,4994346,5050336,3146338,3487412,4416232,5657436,3365808,3507702,4498436,3487414
15774669,3758314,3136079,3252794,9376010,377681,3835632,6902568,381971,9370716,377791,...,2295392,1353657,6892938,8756516,5215026,1012075,1335896,3507390,2328730,492986
15804932,7363384,5702720,513311,495896,1785729,7816260,1774469,7180344,2796710,9643316,...,5479672,5710148,1584685,1836925,3819574,4498104,2796401,6732992,5968652,NaN
15833812,953211,1001201,6623262,5193848,8264288,493886,678356,7030094,437551,4463888,...,8758780,1167431,7709366,3183198,1001145,3875998,6442290,3499092,3136084,1829029
15849188,3820080,8744064,6512676,4177108,8921424,9316514,6451980,8194328,9234344,8923788,...,3182811,2199054,8914754,5415338,4919106,9495454,3507856,6338692,9514620,5478414
15849190,3820080,8744064,6512676,4177108,8921424,9316514,6451980,8194328,9234344,8923788,...,3182811,2199054,8914754,5415338,4919106,9495454,3507856,6338692,9514620,5478414
15854750,9365582,7305958,7037138,1894363,2294932,3365353,8114760,5160960,959485,3136071,...,1586635,1765469,512336,521416,4389634,2199348,7195480,3062960,3136067,5040920
15868550,7195228,5830328,2265912,3895000,3815898,5750270,3820884,6395078,2598184,5422942,...,6622794,4879086,4541672,5773396,4117038,4580952,4626844,2856794,5912730,6959102
15888156,1586099,1954665,1083924,80536,112574,113906,128476,830861,957469,2013487,...,16361,9398,1390786,1970213,5431998,2219122,3482640,8990832,80604,3967216
15890574,8403044,5067172,6806570,6237000,2596815,2378058,3486116,9860526,7366096,8963040,...,3805128,5478926,3898716,2269286,3483900,4937534,5749674,4953110,7996972,8741794
15897320,3505408,10647154,10596454,10035330,4995402,5695902,5066888,6479398,5123920,9941644,...,3487506,7018322,585371,7132380,7906314,3765948,8432366,2105012,9787866,2712708
15911602,2629214,3827214,3861418,3149530,1582249,5066888,3213034,7341880,4040662,3367112,...,4110286,6622042,3499550,8919870,6684892,10595086,NaN,NaN,NaN,NaN

In [149]:
kr_d_imp_sp_ = kr_d_imp_sp_.astype(np.float)
kr_d_imp_sp_ = np.asarray(kr_d_imp_sp_).flatten()
kr_d_imp_sp_ = np.reshape(kr_d_imp_sp_, [kr_d_imp_sp_.shape[0],1])
kr_d_imp_sp_ = kr_d_imp_sp_[~np.isnan(kr_d_imp_sp_)]

In [150]:
[imp_uniq, imp_c] = np.unique(kr_d_imp_sp_, return_counts = True)
imp_uniq = np.reshape(imp_uniq, (imp_uniq.shape[0],1))
imp_c = np.reshape(imp_c, (imp_c.shape[0],1))
imp_ = np.concatenate((imp_uniq, imp_c), axis = 1)
kr_imp = pd.DataFrame(imp_, columns = ["imp_uniq", "imp_c"])
kr_imp = kr_imp.sort_values(by = ["imp_c"], ascending = False)
kr_imp = kr_imp[~kr_imp["imp_uniq"].isnull()]

In [152]:
kr_imp.T

,262,373,224,431,3041,346,1487,260,173,1882,...,3779,1746,1750,1752,3775,1753,3772,3770,1764,4933
imp_uniq,493886.0,1001201.0,437551.0,1167431.0,7030094.0,953211.0,3499092.0,493791.0,363036.0,4146200.0,...,8482834.0,3868804.0,3869532.0,3870032.0,8481868.0,3870048.0,8481308.0,8480810.0,3884268.0,11277294.0
imp_c,263.0,225.0,224.0,221.0,210.0,185.0,179.0,164.0,159.0,152.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [155]:
imp_list = pd.DataFrame(kr_imp.imp_uniq)
imp_list

        imp_uniq
262     493886.0
373    1001201.0
224     437551.0
431    1167431.0
3041   7030094.0
346     953211.0
1487   3499092.0
260     493791.0
173     363036.0
1882   4146200.0
985    2508340.0
3206   7563458.0
1353   3183198.0
157     175552.0
947    2378058.0
1760   3875998.0
2766   6312778.0
2960   6806370.0
3660   8403044.0
2548   5747278.0
2961   6806570.0
1602   3769070.0
2338   5165474.0
1030   2596815.0
2999   6923256.0
3191   7366096.0
2134   4838786.0
3534   8282548.0
4253   8963040.0
736    2056932.0
...          ...
1793   3955762.0
1796   3971136.0
1803   3975116.0
3739   8457240.0
1818   4034108.0
1772   3894856.0
1771   3894466.0
3797   8487492.0
1743   3866122.0
3795   8486522.0
3794   8485516.0
1723   3851076.0
1727   3853330.0
3790   8485020.0
3789   8484874.0
1742   3866036.0
3783   8483796.0
3782   8483642.0
1744   3866906.0
1770   3894422.0
3779   8482834.0
1746   3868804.0
1750   3869532.0
1752   3870032.0
3775   8481868.0
1753   3870048.0
3772   8481308.0
3770   8480810.0
1764   3884268.0
4933  11277294.0

[4934 rows x 1 columns]

In [156]:
meta = pd.read_csv("item_metadata.csv")
item = pd.DataFrame(meta.item_id)
imp_exist = imp_list[imp_list["imp_uniq"].isin(item.item_id)]

In [157]:
pro_imp = meta[meta["item_id"].isin(imp_exist.imp_uniq)]
pro_imp_split = pro_imp.properties.str.split('|')
pro_imp_split_ = pro_imp_split.apply(lambda x : pd.Series(x))
pro_imp_split_.head()

,0,1,2,3,4,5,6,7,8,9,...,83,84,85,86,87,88,89,90,91,92
262,Satellite TV,Golf Course,Sailing,Airport Shuttle,Diving,Cosmetic Mirror,Telephone,Hotel,Sitting Area (Rooms),On-Site Boutique Shopping,...,Free WiFi (Public Areas),Washing Machine,Lift,Central Heating,NaN,NaN,NaN,NaN,NaN,NaN
447,Satellite TV,Cosmetic Mirror,Safe (Hotel),Telephone,Hotel,Convenience Store,Reception (24/7),Air Conditioning,Cable TV,Massage,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1210,Telephone,Hotel,Air Conditioning,Cable TV,Hotel Bar,Satisfactory Rating,Luxury Hotel,Television,Business Hotel,Shower,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1331,Airport Shuttle,Reception (24/7),Cable TV,Satisfactory Rating,Television,Shower,Hairdryer,Good Rating,Bed & Breakfast,Desk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1545,Telephone,Hotel,Reception (24/7),Air Conditioning,Cable TV,Hotel Bar,Satisfactory Rating,Luxury Hotel,Terrace (Hotel),Television,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
pro_imp_split_sin = pro_imp_split_.stack().reset_index(level=1,drop=True).to_frame('property_single')
property_single = pro_imp_split_sin['property_single'].unique()
property_encoded = pd.get_dummies(pro_imp_split_sin.property_single)
property_sum = property_encoded.sum(axis = 0)
property_sum = property_sum.sort_values(ascending = False).to_frame().T

In [159]:
property_sum

,Hotel,Satisfactory Rating,Good Rating,WiFi (Public Areas),Shower,Car Park,Air Conditioning,Luxury Hotel,WiFi (Rooms),Free WiFi (Combined),...,1 Star,Hammam,Tennis Court (Indoor),Motel,Kosher Food,Camping Site,Shooting Sports,Water Slide,Farmstay,Hostal (ES)
0,3088,2768,2454,2414,2254,2195,2133,2126,2123,2121,...,15,15,14,8,7,5,5,3,1,1