In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('train.csv')

In [19]:
korea = train[train["city"] == "Seoul, South Korea"]
korea.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
278,0L2TX0JNYVQ6,06e7c29170946,1541041830,1,search for poi,Seoul Station,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
279,0L2TX0JNYVQ6,06e7c29170946,1541041870,2,clickout item,10091602,HK,"Seoul, South Korea",desktop,NaN,2802232|2733571|5477718|155374|155465|3549258|...,124|176|99|220|191|127|85|54|83|268|78|144|96|...
280,0L2TX0JNYVQ6,06e7c29170946,1541041882,3,interaction item deals,10091602,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
281,0L2TX0JNYVQ6,06e7c29170946,1541044143,4,search for poi,Myeongdong,HK,"Seoul, South Korea",desktop,NaN,NaN,NaN
282,0L2TX0JNYVQ6,06e7c29170946,1541044151,5,clickout item,10091602,HK,"Seoul, South Korea",desktop,NaN,3549258|155465|155374|363046|3954788|4773608|3...,135|189|219|78|74|135|95|85|176|99|108|83|87|3...

In [21]:
korea.shape

(33601, 12)

In [9]:
import os
korea_save_path = os.path.abspath('korea.csv')
korea.to_csv(path_or_buf = korea_save_path)

In [15]:
korea.reference.unique().shape

(1026,)

In [17]:
korea.loc[korea.reference.str.isnumeric()==False].to_csv(path_or_buf = os.path.abspath('korea_ref.csv'))
# popHotel.loc[popHotel.index.str.isnumeric()==True]

In [30]:
a = korea.loc[korea.reference.str.isnumeric()==False]
pd.DataFrame(a.reference.unique()).to_csv(path_or_buf = os.path.abspath('korea_ref_unique.csv'))