In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df1_path = "train.csv"
#df2_path = "test.csv"

In [3]:
df = pd.read_csv(df1_path)
print(df.shape)
df.head()

(15932992, 12)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN

In [4]:
def make_encoding_label_dict(col_unique):
    encoded_dict = {}
    for idx, unique in enumerate(col_unique):
        encoded_dict[unique] = idx + 1

    return encoded_dict


# get new encoding result
def get_newcode(key, label_dict):
    com_len = len(label_dict)
    if key == np.nan:
        return
    else:
        if key in label_dict:
            return label_dict[key]
        else:
            return com_len + 1

In [5]:
df = df.fillna(value = '0')

In [6]:
encoded_action_dict = make_encoding_label_dict(df.action_type.value_counts().index.tolist())
encoded_st_dict = make_encoding_label_dict(df.step.value_counts().index.tolist())
encoded_session_dict = make_encoding_label_dict(df.session_id.value_counts().index.tolist())
encoded_city_dict = make_encoding_label_dict(df.city.value_counts().index.tolist())

In [7]:
df2 = df
ref = df.reference
df2['e'] = pd.Series(df.reference, index=df.index)

In [8]:
ref = df.reference

In [9]:
pastActivity = np.insert(ref.values, 0, '0')

In [57]:
df2['past_activity'] = pd.Series(pastActivity[:df2.shape[0]], index=df.index)

In [58]:
df2.shape

(15932992, 14)

In [59]:
np.chararray.isnumeric('asd') == True

False

In [60]:
past = 0
ps = pastActivity[:499]
ps2 = np.zeros(len(ps))
ps3 = df.step.values

In [61]:
for i in range(len(ps)):
    elem = ps[i]
    if np.chararray.isnumeric(elem) == True:
        past = elem
        if ps3[i] == 1: # still a number not a str i didnt change it 
            #print('stj')
            past = 0
        ps2[i] = past
        continue 
    else:
        if ps3[i] == 1: # still a number not a str i didnt change it 
            #print('stj')
            past = 0
        ps2[i] = past

In [62]:
ps2 =ps2.astype('int64')
ps2 = ps2.astype('str')

In [63]:
dfA = df[['session_id', 'step', 'city','action_type', 'reference', 'past_activity']]
dfA.head()

,session_id,step,city,action_type,reference,past_activity
0,aff3928535f48,1,"Sydney, Australia",search for poi,Newtown,0
1,aff3928535f48,2,"Sydney, Australia",interaction item image,666856,Newtown
2,aff3928535f48,3,"Sydney, Australia",interaction item image,666856,666856
3,aff3928535f48,4,"Sydney, Australia",interaction item image,666856,666856
4,aff3928535f48,5,"Sydney, Australia",interaction item image,109038,666856

In [64]:
dfA.shape

(15932992, 6)

In [65]:
prop = pd.read_csv("property_onehot_sum.csv")
prop.head()
prop.shape

(927142, 158)

In [66]:
prop.head()

,item_id,1 Star,2 Star,3 Star,4 Star,5 Star,Accessible Hotel,Accessible Parking,Adults Only,Air Conditioning,...,Terrace (Hotel),Theme Hotel,Towels,Very Good Rating,Volleyball,Washing Machine,Water Slide,Wheelchair Accessible,WiFi (Public Areas),WiFi (Rooms)
0,5001,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1
1,5002,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,1
2,5003,0,0,0,1,0,1,0,0,1,...,1,0,1,1,0,0,0,1,1,1
3,5004,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,0,1,1,1
4,5005,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0

In [67]:
dfA2 = dfA.loc[dfA.reference.str.isnumeric() == True]
dfA2.head()

,session_id,step,city,action_type,reference,past_activity
1,aff3928535f48,2,"Sydney, Australia",interaction item image,666856,Newtown
2,aff3928535f48,3,"Sydney, Australia",interaction item image,666856,666856
3,aff3928535f48,4,"Sydney, Australia",interaction item image,666856,666856
4,aff3928535f48,5,"Sydney, Australia",interaction item image,109038,666856
5,aff3928535f48,6,"Sydney, Australia",interaction item image,666856,109038

In [85]:
dfA2

False

In [68]:
dfA3 = dfA2.loc[dfA2.past_activity.str.isnumeric() == True]
dfA3.head()

,session_id,step,city,action_type,reference,past_activity
2,aff3928535f48,3,"Sydney, Australia",interaction item image,666856,666856
3,aff3928535f48,4,"Sydney, Australia",interaction item image,666856,666856
4,aff3928535f48,5,"Sydney, Australia",interaction item image,109038,666856
5,aff3928535f48,6,"Sydney, Australia",interaction item image,666856,109038
6,aff3928535f48,7,"Sydney, Australia",interaction item image,109038,666856

In [69]:
dfA4 = dfA3[['reference','past_activity']]
dfA4.head()

  reference past_activity
2    666856        666856
3    666856        666856
4    109038        666856
5    666856        109038
6    109038        666856

In [70]:
two_hotels = np.asarray(dfA4)

In [71]:
two_hotels[:3]

array([['666856', '666856'],
       ['666856', '666856'],
       ['109038', '666856']], dtype=object)

In [72]:
prop[prop.item_id == int(two_hotels[0,0])].values[0,1:]    # 0, 1: because we need to omit the itemid in the db

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 1, 1], dtype=int64)

# Now change the [ current hotel, past ] into [current property, past ]

In [73]:
a = [prop[prop.item_id == int(two_hotels[2,0])].values[0,1:]  ,prop[prop.item_id == int(two_hotels[2,1])].values[0,1:]  ]
a = np.asarray(a)
a

array([[0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
        0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
        1, 1, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0,
        1, 1, 1]], dtype=int64)

In [74]:
two_hotels.shape

(13702433, 2)

In [75]:
df.shape

(15932992, 14)

In [79]:
two_hotels[3000:4000]

array([['1236058', '1236058'],
       ['1236058', '1236058'],
       ['1236058', '1236058'],
       ...,
       ['63082', '440866'],
       ['63082', '63082'],
       ['63082', '63082']], dtype=object)

# changed to past->current , label will the next layer's current

In [32]:
two_hotels_vec = [ [prop[prop.item_id == int(two_hotels[i,1])].values[0,1:]  ,prop[prop.item_id == int(two_hotels[i,0])].values[0,1:] ] for i in range(two_hotels.shape[0])]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [83]:
np.where(two_hotels[1] == '')

(array([], dtype=int64),)

In [78]:
two_hotels_vec = [ [prop[prop.item_id == int(two_hotels[i,1])].values[0,1:]  ,prop[prop.item_id == int(two_hotels[i,0])].values[0,1:] ] for i in range(10000)]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
two_hotels_vec = np.asarray(two_hotels_vec)
two_hotels_vec[2]

# past-> cur -> future (next current but if the session changed then itself

In [86]:
dfA4 = dfA3[['step','past_activity','reference']]
dfA4.head()

   step past_activity reference
2     3        666856    666856
3     4        666856    666856
4     5        666856    109038
5     6        109038    666856
6     7        666856    109038

In [87]:
future_activity = np.array(dfA3.reference)

In [88]:
future_activity = np.delete(future_activity,0)
future_activity = np.insert(future_activity,len(future_activity),'0')

In [89]:
dfA4['future_activity'] = pd.Series(future_activity, index=dfA4.index)

C:\Users\Jee\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
nextstep = np.array(dfA3.step)
nextstep = np.delete(nextstep,0)
nextstep = np.insert(np.array(nextstep),len(nextstep),0)

In [91]:
dfA4['nextstep'] = pd.Series(nextstep, index=dfA4.index)

C:\Users\Jee\Anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [92]:
dfA4['samesession'] = dfA4.step < dfA4.nextstep

In [93]:
dfA4.head()

   step past_activity reference future_activity  nextstep  samesession
2     3        666856    666856          666856         4         True
3     4        666856    666856          109038         5         True
4     5        666856    109038          666856         6         True
5     6        109038    666856          109038         7         True
6     7        666856    109038          666856         8         True

In [116]:
dfA4['future'] = np.where(dfA4['samesession']== True, dfA4.future_activity,dfA4.reference)

In [122]:
dfA4 = dfA4[dfA4.reference.isin(prop.item_id.values.astype('str')) == True]
dfA4 = dfA4[dfA4.future.isin(prop.item_id.values.astype('str')) == True]
dfA4 = dfA4[dfA4.past_activity.isin(prop.item_id.values.astype('str')) == True]

In [123]:
#dfA5 = dfA4[['past_activity','reference','future']]

In [124]:
#three_hotels = np.asarray(dfA5)

In [125]:
#three_hotels_vec = [ [prop[prop.item_id == int(three_hotels[i,0])].values[0,1:]  ,prop[prop.item_id == int(three_hotels[i,1])].values[0,1:] ,prop[prop.item_id == int(three_hotels[i,2])].values[0,1:] ] for i in range(three_hotels.shape[0])]

KeyboardInterrupt:

In [128]:
validation = dfA4.loc[dfA4.samesession == False]

In [129]:
traindata =  dfA4.loc[dfA4.samesession == True]

In [130]:
validd = np.asarray(validation[['past_activity','reference','future']])
trainn = np.asarray(traindata[['past_activity','reference','future']])

In [ ]:
X_validd_three_hotels_vec = [ [prop[prop.item_id == int(validd[i,0])].values[0,1:]  ,prop[prop.item_id == int(validd[i,1])].values[0,1:] ] for i in range(validd.shape[0])]

In [ ]:
X_trainn_three_hotels_vec = [ [prop[prop.item_id == int(trainn[i,0])].values[0,1:]  ,prop[prop.item_id == int(trainn[i,1])].values[0,1:] ] for i in range(trainn.shape[0])]

In [ ]:
Y_validd_three_hotels_vec  = [ prop[prop.item_id == int(validd[i,2])].values[0,1:] for i in range(validd.shape[0])]

In [ ]:
Y_trainn_three_hotels_vec = [ prop[prop.item_id == int(trainn[i,2])].values[0,1:]  for i in range(trainn.shape[0])]

# idea2 : session add up all hotels -> y: correct hotel

In [ ]:
X_train = np.asarray(X_trainn_three_hotels_vec)
X_train.shape

In [ ]:
X_test = np.asarray(X_validd_three_hotels_vec)
X_test.shape

In [ ]:
Y_train = np.asarray(Y_trainn_three_hotels_vec)
Y_train.shape

In [ ]:
Y_test = np.asarray(Y_validd_three_hotels_vec)
Y_test.shape

In [ ]:
from keras.layers import LSTM 
from keras.models import Sequential 
from keras.layers import Dense 
from keras.layers import Dropout 
import keras.backend as K 
from keras.callbacks import EarlyStopping

In [ ]:
# define the LSTM model

model = Sequential()
model.add(LSTM(256, input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(Dropout(0.2))
model.add(Dense(Y_train.shape[1], activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam')

In [ ]:
early_stop = EarlyStopping(monitor='loss', patience=1, verbose=1)
model.fit(X_train, Y_train, epochs=100, batch_size=30, verbose=1, callbacks=[early_stop])

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
import keras
loss = keras.losses.mean_squared_error(Y_test, y_pred)

In [ ]:
loss

In [ ]:
pd.DataFrame(X_trainn_three_hotels_vec).to_csv("Xtrain.csv")

In [ ]:
pd.DataFrame(Y_trainn_three_hotels_vec).to_csv("Xtrain.csv")